[2018-07-01 17:57] kamilkisiela opened #55 "epoxy does not emit directives"
Reproduction #54

It causes an issue in one of our client's app.
When we generate there types via `graphql-code-generator` with `typescript-mongodb` template all the interfaces with a suffix `DBObject` are not generated.

I looked and before using `@graphql-modules/epoxy`, it works fine.

[2018-07-04 11:46] #55 closed, assigned to nobody

[2018-10-30 14:04] maapteh opened #154 "Compiling with tsc gives error when running dist with node"
Maybe I do something wrong :) but when i build my typescript project i got an error when trying to run the distribution. As the example said im using sonar and epoxy to load their files. *The error is not breaking the application but i think it should not try to include this type of file*

Example of one module:
[code]

Now in the distribution the resolver directory now also contains some *.d.ts f

[2018-10-31 08:46] #154 closed, assigned to nobody

[2018-11-05 18:27] chanlito opened #163 "Improve Testing section in the documentation"
The title says it all.

[2018-11-09 20:16] nathanchapman opened #174 "Use of provider vs. RESTDataSource"
I would love to see some examples in the documentation of when to use a `provider` vs. `RESTDataSource`

Do they work together? It seems like a `provider` would be re-implementing a lot of methods that already exist in a `RESTDataSource`. Also I'm guessing any `RESTDataSource`s would go into the `contextBuilder`?

[2018-11-10 01:11] ardatan commented on #174
DataSources looks quite similar to providers while providers feature is part of Dependency Injection and can be connected to each other in modular approach. Like schema and resolvers, providers can be considered as injectable data sources as in Apollo.

[2018-11-10 04:46] dotansimha commented on #174
That's a great questions, @nathanchapman !
@ardatan is right, `DataSources` of apollo-server is similar to `Provider`s in graphql-modules.
Actually, before we started to develop graphql-modules, we used `DataSources` in some of our projects.
`DataSources` is great as a simple bridge for your data, it's an abstraction that prevents from your resolvers to access directly the data source.
The problem

[2018-11-10 05:36] ardatan commented on #174
Then I am planning to create a PR about request scope providers.

[2018-11-10 05:36] #174 closed

[2018-11-10 18:26] 19majkel94 opened #175 "How to deal with types?"
All of the examples and docs use `*.ts` files but without any types for resolvers. So all of the benefits of TypeScript are lost, it's just a JS with decorators and easier DI.

There are a few graphql types generator, like graphql-code-generator and graphqlgen. Do you have any solution for generating types from schema (typedefs) split into modules?

[2018-11-10 18:47] ardatan commented on #175
https://github.com/Urigo/graphql-modules/blob/master/docs/introduction/integrate-with-graphql-code-generator.md
You can use the recipe used here.

[2018-11-10 19:00] 19majkel94 commented on #175
Thanks! 😃

But this approach denies the idea behind graphql-modules, that modules should be portable =
 not tightly coupled to other modules.

I mean that when we implement ProfileModule and inject UserModule to it, we only rely on the base user object type (id, username, email) but with this generated type we also receive `user.chats` from ChatsModule not imported in ProfileModule.

So I think th

[2018-11-10 19:02] ardatan commented on #175
You can still create schema.ts files for each module; because each module has its own encapsulated schema.

[2018-11-10 19:05] 19majkel94 commented on #175
And how to use them after that? E.g. when my ChatsModule imports UserModule and ProfileModule but they have two different `User` interfaces.

[2018-11-10 19:38] ardatan commented on #175
How about namespaces? You can use namespaces to differentiate them from each other. It will be possible in GraphQL Code generator by prepending
‘export namespace FooModuleTypes {‘
and appending
‘}’
to the generated file by using add plugin of codegen.
We can add that kind of recipe to our docs. What do you think?
@dotansimha

As an answer for your previous comment; the modules are portable, and th

[2018-11-10 20:00] 19majkel94 commented on #175
Agree. But you advertise `graphql-modules` as a TypeScript compatible (all examples/docs use *.ts files) but looks like the API was designed with the JS in mind, leaving the TS support for other tools. You left types problem to users, so they have to solve them by their own and the DX is not so great. You should just have good recipes for that things in your docs or maybe a custom wrapper/template

[2018-11-10 22:11] ardatan commented on #175
What do you mean by advertise?
I sounds a bit like you are advocating for a specific approach (generating from Typescript) and in your opinion anything else is a bad DX.
We are using only Typescript in all of our projects and using GraphQL Modules together with graphql-code-generator and it gives us a very good DX.
What would you add to the docs to make it better? Our seed has graphql-code-generat

[2018-11-11 10:59] 19majkel94 commented on #175
If you show examples written in TS in your medium article or docs, it's a clear signal that the library is focused on TS experience, so TS users might expect built-in support like e.g. [Nest provide](https://docs.nestjs.com/graphql/resolvers-map) or [graphqlgen](https://github.com/prisma/graphqlgen/) offers.

I've literally not even mentioned something like that.
GraphQL ecosystem and tooling are

[2018-11-11 12:06] dotansimha commented on #175
Hi @19majkel94 !

`graphql-modules` is agnostic to the language you use. We do prefer TypeScript we don't want to force users to use it. We suggest it, but we think that each developer should have the ability to choose his development environment. Flow is a strong alternative for TypeScript and so does JavaScript with ES6/ES7 features.

`graphql-modules` aims to provide a solution for implementing

[2018-11-12 02:52] dotansimha opened #179 "Remove logger package"
It was part of the initial implementation, then we separated it, and now I think we can remove it.
We can expose an interface for logger so people can use their own loggers.

@ardatan

[2018-11-12 06:34] ardatan opened #182 "Documentation about features"
- [x] - OnRequest hook
- [x] - Encapsulation
- [x] - Circular Dependency
- [x] - Authentication
- [x] - Option factories (Passing configuration or schema to option factories)
- [ ] - Logger Interface
- [ ] - Middlewares
- [x] - Provider scopes and ModuleSessionInfo
- [x] - DI in factory functions ( InjectFunction wrapper function )
- [x] - DataSources support
- [x] - DirectiveResolvers and SchemaD

[2018-11-12 15:55] delta98 opened #183 "TypeError: Reflect.hasMetadata is not a function"
Using `0.2.0` and examples within documentation, I'm receiving `TypeError: Reflect.hasMetadata is not a function` from `@graphql-modules/core/dist/di/index.js:208:22`

I'm not using any dependency injection, just basic example.

[2018-11-12 15:57] delta98 commented on #183
Solution is to import `reflect-metadata` - however, this isn't immediately obvious or addressed in any documentation

[2018-11-12 15:57] dotansimha commented on #183
Hi @delta98 ! Thank you for reporting it!
The internals of `graphql-modules` uses `reflect-metadata`, even if you are not using DI.
We might be able to solve this by lazy-loading it.
As a temporary solution, you can add `import 'reflect-metadata'` on your main entry point.
Keeping it open until we'll find a solution / document it.

@ardatan what do you think?

[2018-11-12 16:16] ardatan commented on #183
We can do this after seperating DI logic from core package

[2018-11-12 19:18] alfaproject opened #184 "Will there be Relay support?"
In my current APIs I have a lot of Relay stuff like the `Node` interface and `node` field, plus connections et al.

I was wondering if you guys thought about it or if you have any tips to implement something like the `node` field, which gets any object in any module by id.

[2018-11-13 08:29] #175 closed

[2018-11-13 12:28] delta98 opened #187 "info: GraphQLResolveInfo not given to resolver"
A resolver within a GraphQLModule does not receive the value of info.

[code]

Example receives a value of `undefined` unless given as a resolver outside of a module.

[2018-11-13 14:10] ardatan commented on #187
Which version do you use?

[2018-11-14 13:46] delta98 commented on #187
Can confirm on `0.2.1` this has been resolved.

Thanks

[2018-11-14 13:46] #187 closed

[2018-11-16 03:21] #183 closed

[2018-11-16 03:58] #179 closed

[2018-11-17 01:12] dotansimha commented on #184
Hi @alfaproject !
Basically, there it no reason you won't be able to use Relay structure to define your GraphQL schema.

let's say that you have a GraphQL `interface` called `Node`, and there are multiple types that implements it, and you separate it to GraphQL Modules:

[code]

Modules `user` and `post` depends on `common`.

Now, the issue here is that `user` depends on `common`. And also `post`

[2018-11-17 17:10] jchapple opened #188 "Cannot import .graphql files"
Hello!

I have been trying to use TypeScript to import .graphql files, by using the method mentioned [here](https://graphql-modules.com/docs/guides/development-environment#import-from-graphql-files), however, I consistently receive the error:

[code]

I have tried placing the `typings.d.ts` file within the same directory as the .graphql file, at the `src` level, at the project root. None have alte

[2018-11-19 01:03] dotansimha commented on #188
@ardatan just updated to docs: https://github.com/Urigo/graphql-modules/blob/master/docs/guides/development-environment.md#import-from-graphql-files
Thanks @jchapple

[2018-11-19 01:03] #188 closed

[2018-11-19 09:39] Pruxis opened #191 "Cannot install @graphql-modules packages"
npm ERR! 500 Internal Server Error: @graphql-modules/core@latest

How to reproduce: npm i @graphql-modules/core

[2018-11-19 10:36] Pruxis commented on #191
Apperantly a permission issue in our private npm

[2018-11-19 10:36] #191 closed

[2018-11-19 18:09] jchapple opened #193 "Accessing `GraphQLModule.schema` from within `resolversComposition` function"
Hello!

I am trying to implement an authentication guard, using resolvers composition, and GraphQL `@directives`. I have observed that `resolversComposition` can be provided as a function that accepts `GraphQLModule`.

I was hoping to be able to access `GraphQLModule.schema`, in order to access the `GraphQLSchema`, which I'd need to do in order to map logic functions to fields with directives.

Ho

[2018-11-19 18:12] ardatan commented on #193
You cannot use schema there, because it is not created yet. You can only use config or typeDefs.

[2018-11-19 18:14] jchapple commented on #193
I had suspected that might be the case.

I was trying to follow the example written [https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2](here).

In the example at the bottom, something similar is achieved within a `resolversComposition` function by importing `getFieldsWithDirective` from `@graphql-modules/core`, however, I've noti

[2018-11-20 00:46] dotansimha commented on #193
Hi @jchapple !
Sorry for the confusion. There was some internal changes in the packages, and we decided to expose `{ typeDefs: DocumentNode }` instead of the schema itself.
Since 0.2.5, you should be able to get `{ typeDefs }` from the `resolversComposition` function, we also exposed `getFieldsWithDirectives` from `@graphql-modules/utils` package. The API has changes a bit, but I updated the snipp

[2018-11-20 00:46] #193 closed

[2018-11-20 01:35] dotansimha commented on #182
Also, document:
- Authentication
- `resolversComposition` usage (as object and as function)

[2018-11-20 11:50] jchapple commented on #193
This is fantastic! Thanks so much for your help. I am really excited about GraphQL modules and seeing where the possibilities take us with SDL-first-development. 🤗

[2018-11-25 14:32] jchapple opened #198 "[Question] Using libraries such as join-monster, which rely on mutating schema instance"
Hi again.

I've recently discovered a few GraphQL libraries that work by decorating / mutating the schema (`GraphQLSchema`) instance, and depend on those changes being persisted and not overwritten, such that those decorations can be accessed in resolvers with the `resolverInfo` argument (fourth argument). For example, [join-monster](https://github.com/acarl005/join-monster) requires adding custom

[2018-11-26 08:18] jchapple commented on #198
Great, that would do the trick!

[2018-11-26 23:13] ardatan commented on #198
Now you can mutate schema by using
[code]

[2018-11-26 23:36] #184 closed

[2018-11-27 01:45] jchapple commented on #198
Thanks! I tried that, but it didn't seem to work.

As a test, I tried:
[code]

I see that the `middleware` function is getting called once, which seems to be when the `GraphQLModule` is initially bootstrapped.

However, when inspecting `resolverInfo.schema` from within a resolver, I see that the schema remains unchanged (e.g. I can't see the `__DIRTY__` property).

[2018-11-28 12:40] lacolaco opened #202 "[Bug] "type Subscription" overwrites query definition"
Please look at the code below. I think this is a mistake clearly...

https://github.com/Urigo/graphql-modules/blob/d43271bac496333233e8759807f462de7f72b667/packages/epoxy/src/schema-mergers/merge-schema.ts#L37-L45

It was merged between v0.2.9 and v0.2.10

https://github.com/Urigo/graphql-modules/commit/d2db21bc7dd76d98f789e8122bc72eb138e02d11#diff-4d07e21e80acf6ceff3d3f867951b12bR44

![image](htt

[2018-11-28 12:42] #202 closed

[2018-11-29 00:50] ardatan commented on #198
Hi @jchapple!
I added tests for your case, and it passes.
https://github.com/Urigo/graphql-modules/commit/24eac3dac8463b07993680709816396988cfe7cb

[2018-11-30 04:50] ardatan commented on #198
Could you try the following versions?
[code]

[2018-11-30 13:57] j-chapple commented on #198
Great, that seems to have fixed it. Many thanks! 🎉

[2018-12-02 14:23] chanlito opened #209 "Unable to resolve providers - Prisma integration"
The following is part from a `main.ts`.
[code]

And I'm trying to get it somewhere in my UserModule. But it says dependency not found.
[code]

I don't know if this is even allowed or not.

[2018-12-03 03:00] chanlito commented on #209
@ardatan the only reason I'm trying to do my way is that this function `extractFragmentReplacements ` requires the `resolvers`.

[2018-12-03 03:19] chanlito opened #210 "contextBuilder property doesn't exist"
There are a bunch of places showing the usage of `contextBuilder` but when I try to use it, it doesn't exist. Typescript only shows `context` property.

<img width="485" alt="screen shot 2018-12-03 at 10 17 21 am" src="https://user-images.githubusercontent.com/15667259/49351164-b84f9600-f6e4-11e8-81b7-8043097e3876.png">

[2018-12-03 03:42] chanlito commented on #210
@ardatan `context` works.

[2018-12-03 04:45] #210 closed

[2018-12-03 06:00] ardatan commented on #209
Ok create another module called Prisma, and put there a RequestScope factory function;
[code]
Then import this module wherever you need PrismaClient.
This will cause getting PrismaClient on runtime instead of module construction.

[2018-12-03 12:16] Xample opened #212 "Subscriptions?"
I there any limitation for using graphql-modules with subscriptions?

[2018-12-03 12:16] ardatan commented on #212
No, there is not.

[2018-12-03 12:17] #212 closed

[2018-12-04 00:21] ardatan commented on #209
Let me know if it worked.

[2018-12-04 04:30] chanlito commented on #209
I've beed trying out graphql-modules all day now, and I ran to various issues which can be found here https://github.com/chanlito/graphql-app which shows usage of graphql-modules vs vanilla apollo server integrated with Prisma.

@ardatan I think your solution mentioned above might work with `prisma-client` but not with `prisma-binding`.

[2018-12-05 00:11] ardatan commented on #209
@chanlito You can do the same thing for prisma-binding and you can get resolvers from AppModule. So it is supposed to work.

[2018-12-05 18:23] orefalo opened #216 "missing from the doc"
for tsconfig.paths to work, ensure this attribute is defined in tsconfig.json

{
  "compilerOptions": {
    "baseUrl": "./"
  }
}

[2018-12-06 02:40] ardatan commented on #209
Could you check this?
https://github.com/chanlito/graphql-app/pull/1

[2018-12-06 04:02] chanlito commented on #209
Hey @ardatan thanks for the PR, but unfortunately it was not a success.

I've got the following error.

<img width="626" alt="screen shot 2018-12-06 at 10 58 31 am" src="https://user-images.githubusercontent.com/15667259/49560724-26df5e80-f946-11e8-8611-afb9283a6c2b.png">

I think we can't use `AppModule.resolvers` because it has not been instantiated.

[2018-12-06 05:30] orefalo opened #217 "How would you pass these apollo configurations?"
Kind of puzzled, I must be missing something...

How would you pass these apollo configurations?

https://www.apollographql.com/docs/graphql-tools/generate-schema.html#modularizing

[2018-12-06 05:33] ardatan commented on #217
What do you mean by configuration?
Did you check our docs about apollo integration?
https://graphql-modules.com/docs/introduction/integrate-with-apollo-server

[2018-12-06 05:38] ardatan commented on #209
But it was working with canary version; `0.3.0-alpha.7132a265`.

[2018-12-06 05:43] ardatan commented on #216
`tsconfig-paths` package is just to make things easier about imports, so it is not an actual part of GraphQL-Modules. If you use custom paths like `@modules` which points `./src/modules` or somewhere else in your tsconfig.json file. tsconfig-paths just makes you able to use these imports in your NodeJS app.
https://www.npmjs.com/package/tsconfig-paths
https://www.typescriptlang.org/docs/handbook/m

[2018-12-07 03:58] orefalo commented on #216
Hi, thank for the reply. Sorry I didn't explain the solution correctly.

On this page, https://graphql-modules.com/docs/guides/development-environment
it says to add
[code]
in order to get `tsconfig-paths` working.

Unfortunately, it is not sufficient as the application will complain about a missing 'basePath'

The correct configuration should be:

[code]

note the base path in the configuration.

[2018-12-07 04:10] ardatan commented on #217
Oh ok, thank you!

[2018-12-07 12:46] Tera3yte commented on #182
Also:

- Extending Modules (GraphQLModule.merge() ?)

[2018-12-09 11:01] renovate[bot] opened #223 "Dependency deprecation warning: @types/deepmerge (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v2.2.0) of dependency `@types/deepmerge` has the following deprecation notice:

`This is a stub types definition. deepmerge provides its own type definitions, so you do not need this installed.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package

[2018-12-10 04:33] #223 closed

[2018-12-10 04:34] ardatan commented on #209
Any updates? @chanlito

[2018-12-10 04:49] chanlito commented on #209
I upgraded to `0.3.0-alpha.7132a265` still getting that error.

[2018-12-10 07:07] dodas opened #226 "0.2.12 > 0.2.13 breaking change (extraSchemas)"
Hi!
I updated from 0.12.12 to 0.2.13 and my app suddenly doesn't work anymore.
I am using typescript and this is the error being outputted:
[code]

it seems to have something to do with the new `extraSchemas` option, which I am not using.
any ideas?

thanks.

[2018-12-10 07:15] ardatan commented on #226
Could you update to latest version 0.2.17?

[2018-12-10 07:21] dodas commented on #226
That's what I had initially - same result.
I just downgraded to 0.2.12 and then to 0.2.13 to find out where this breaking change was introduced.

[2018-12-10 08:01] ardatan commented on #226
Could you reproduce a repo for it?

[2018-12-10 16:53] dodas opened #227 "Implicit dependency on lodash"
Hi,
so while trying to make minimal demo to reproduce #226, I found out that `@graphql-modules/core` does require `lodash`, but it isn't listed in any dependencies. See: [search for lodash in this repo](https://github.com/Urigo/graphql-modules/search?q=lodash&unscoped_q=lodash).

[2018-12-10 17:16] dodas commented on #226
Managed to reproduce it: [graphql-modules-bug-reproduce](https://github.com/dodas/graphql-modules-bug-reproduce).
Just clone it, run `npm install` and `npm run start`.

It looks like reading `resolvers` and `typeDefs` of module together does trigger this error.
Is this usage correct? Typescript does hint that such properties exists.

[2018-12-10 21:08] ardatan commented on #226
Ok, I will check it out. So, in the meanwhile you can use that version or just use the schema exported from the module
[code]

[2018-12-11 00:58] ardatan commented on #226
Sure.
Could you try if it works with these canary versions?
[code]

[2018-12-12 03:12] dodas commented on #226
Yes, it works!

[2018-12-13 16:51] chanlito commented on #209
@ardatan I dunno how graphql-modules DI work internally, but is possible that we could set values (prisma-binding) to the container at runtime?

[2018-12-14 15:38] jonas-arkulpa opened #231 "Links not distinguishable"
Hey guys,
just wanted to let you know that links in the documentation aren't clearly distinguishable from normal text.
Even if you hover them there is no underline or anything which would indicate that it is a link.

[Example on the first Site I read:](https://graphql-modules.com/docs/introduction/modules)
![Example with undistinguishable link](https://user-images.githubusercontent.com/17269256/50

[2018-12-16 17:32] dodas opened #235 "Querying schema internally?"
Hi,
is it possible to query the generated schema internally, i.e. without network / graphql server?
Normally, it is possible to pass schema to `graphql` function and query against it.
See: https://github.com/graphql/graphql-js/issues/1043#issuecomment-333571675

When I try to do the same with graphql-modules, I get `TypeError: Cannot read property 'moduleNameContextMap' of undefined`.

Should this

[2018-12-18 15:52] pixelmeister opened #237 "How can I inject scalars in root graphql-module to be available to all children?"
I would like to use these scalars [https://github.com/okgrow/graphql-scalars](https://github.com/okgrow/graphql-scalars) in my modules. How can I inject them in the root graphql module so that all children do not have to import them?  I tried building a schema of them and then using the extraSchemas field (guessing that is what that field is for?) in the top most module, but that didn't seem to wo

[2018-12-18 20:16] ardatan commented on #237
You can create a commonModule that has scalars with their resolvers, and import this commonModule in other modules.

[2018-12-19 15:05] ardatan commented on #235
Hi dodas,
GraphQL-Modules resolvers use context that is exported from the module, so you cannot use them seperately. We have better error handling to throw more readable error about this case.
There is a `contextValue` field in that function, you can provide a context by using context builder function exported from the module like we use in our tests;
https://github.com/Urigo/graphql-modules/blob/

[2018-12-19 18:23] pixelmeister commented on #237
I was looking for a way of importing them for all modules (without each module importing), but perhaps the violates the spirit of modules.  I went ahead and made a common one to import and it did not work. I then downloaded the latest repo cde, built and used that version and it all worked. I'm guessing this commit:

[https://github.com/Urigo/graphql-modules/commit/76f0fc42a06a03f6fd0bdf4f1a7292e6

[2018-12-19 20:03] dodas commented on #235
That's what I did: I used both schema and context exported from module.
It seems like my error is coming from here https://github.com/Urigo/graphql-modules/blob/9ce6ba88893893962bb1dd2a2d5b310fd98d4883/packages/core/src/graphql-module.ts#L614
It is missing request that I am not sure where should come from.

[2018-12-19 20:57] ardatan commented on #237
We are going to release it in a few days :)

[2018-12-19 22:11] ardatan commented on #237
You can use these canary versions in the meantime;
[code]

[2018-12-20 06:34] orefalo commented on #237
FYI, same issue. Glad is was discussed/resolved a few hours ago!

[2018-12-20 12:42] pixelmeister commented on #237
The canary versions work great. Thanks!!

[2018-12-21 11:43] ardatan commented on #235
Could you share an example how you pass context and schema to `graphql` function?

[2018-12-24 11:43] ardatan commented on #237
Fixed in 0.2.18

[2018-12-24 11:43] #237 closed

[2018-12-24 14:53] chanlito commented on #209
So I managed to setup PrismaModule for prisma-client.

[code]

And if I need to use `prisma-binding`, I will be accessing it from the context directly.

I've also updated the example repo at https://github.com/chanlito/graphql-app.
I'll leave this issue open for now.

[2018-12-26 21:59] biels opened #240 "How to solve n+1 problem with graphql-modules?"
I am just getting started with graphql-modules and would like to know if (and if yes, how) the n+1 problem is solved. Also, it would be very helpful to add a section dedicated to it in the docs.

[2018-12-27 07:16] dotansimha commented on #240
Hi @biels
`graphql-modules` does not attempt to solve the n+1 problem. It's just a layer on top of GraphQL that allow you to write your server in a modular way.
You can use packages like DataLoader to avoid loading the same data each time.

[2018-12-28 12:09] itxuye opened #243 "Unable to resolve providers - typeorm typedi integration"
How to use graphql-modules with typeorm and typedi  ,now I got some problems .
[code]

[2018-12-28 18:56] ardatan commented on #243
GraphQL-Modules has built-in dependency injection system, so you might not need any other dependency injection system/logic. If you don’t provide Repository in any module inside application, this error is expected. So, could you share more details or reproduce a repo?

[2018-12-29 21:05] orefalo opened #244 "Modules are a pain"
So I split my IDL schema in multiple files:
* commons.graphql
* customer.graphql
* catalog.graphql
* order.graphql

of course, there is cross dependency between these files.

Just pointing out that having to manually add # import TaxExemptionEnum from '../commons/commons.graphql'
is REALLY painful. Any idea how to solve this?

[2018-12-31 13:52] biels commented on #240
Okay, thanks. Can I find an example somewhere of how to implement the dataloader pattern in graphql-modules?

[2018-12-31 14:09] dotansimha opened #246 "Document how to use DataLoader"

[2018-12-31 14:10] dotansimha commented on #240
@biels created a new issue for it: https://github.com/Urigo/graphql-modules/issues/246

[2018-12-31 14:10] #240 closed

[2018-12-31 14:10] dotansimha opened #247 "Document how to test modules"
Currently, this section is missing

[2018-12-31 14:12] dotansimha commented on #244
Hi @orefalo !
Why do you need to load this enum with `#import`?
With `epoxy`, you don't have to do it at all, just use the enum, and add a dependency for the commons module in your other modules.

[2019-01-01 06:19] orefalo commented on #244
Happy new year,

I didn't know about epoxy but I believe it works under the hood.

Anyways, let me add to the description above, I missed something ;-)

Each module, has its own ild and resolver file.
The IDL itself is loaded via

[code]

-> Now this is where the problem happens, **graphql-import-node** will complain when a type is not defined in the current file... that's why I need all these imp

[2019-01-01 07:14] dotansimha commented on #244
Happy new year @orefalo !

No need to use `graphql-import-node` in this case.
`graphql-modules` comes with a tool called `epoxy` for merging schemas, and a tool called `sonar` for locating and loading `.graphql` files.

See the following example: https://graphql-modules.com/docs/guides/load-your-schema#using-sonar-and-epoxy

[2019-01-01 07:56] orefalo commented on #244
thank you, you made my 2019!
closing issue

[2019-01-01 07:59] orefalo commented on #244
actually.. it doesn't solve the issue.
the example works fine because all .graphql are within the same module.

[2019-01-01 08:14] dotansimha commented on #244
Ohh I see now. So your `order-module` basically needs `type User` to be there, and that's probably for a reason.

You can do one of the following:

### Option 1 - Import user module
If there is a direct connection between those modules, then `order-module` should know about the types of `user-module`. You can do that by adding `imports: [userModule]` in your `order-module` declaration. This way, w

[2019-01-01 14:35] DAB0mB opened #250 "Context silently ignores errors"
I've spent a significant amount of time trying to find an error 500 which was emitted by my GraphQL-Modules back-end and surprised to discover that the context handler silently ignores errors. To overcome this problem, I have wrapped my context promise like so:

[code]

I suggest to make this behavior a default. Pretty sure it will save a lot of struggles and potential issues.

[2019-01-01 15:20] orefalo commented on #244
Tks, will try

[2019-01-01 15:21] #244 closed

[2019-01-02 09:47] eelayoubi opened #253 "Extending types is not working"
Hello,

I was reading the following article https://medium.com/the-guild/graphql-modules-feature-based-graphql-modules-at-scale-2d7b2b0da6da

And I tried to reproduce the user-chat example, to see how extending types work.
 I forked the repo, and I added in examples/basic, a chat and a user module:

https://github.com/eelayoubi/graphql-modules/blob/feature/test-extend-types/examples/basic/src/app/

[2019-01-02 14:14] eelayoubi commented on #253
After some tests, I just noticed that I am using the last version of @graphql-modules 0.2.12,
and to extend types, we should use the GraphQLApp, which means in app.module, we will have the following:

`export const AppModule = new GraphQLApp({
  modules: [
    UserModule,
    ChatModule,
  ],
});
`

the issue is in the new version, @graphql-modules/core does not export the GraphQLApp, whether in t

[2019-01-02 14:34] eelayoubi commented on #253
the version _0.2.12_ contains the **GraphQLApp**, but does not export it, and in that version, using the **GraphQLModule** will override the types, check first comment, but upgrading to the last version: _0.2.18_,
the GraphQlApp disappeared, and we should apparently use the **GraphQLModule**

It would be great if we have these changes documented in a changelog, thanks a lot !

[2019-01-02 14:48] #253 closed

[2019-01-04 02:18] Urigo commented on #243
@itxuye can you share what did you end up doing?

[2019-01-04 03:58] itxuye commented on #243
@Urigo  Finally , i didn't use typeorm-typedi-extentions , [https://github.com/typeorm/typeorm-typedi-extensions](url) , because i can't register a 3rd IOC container in graphql-modules.

[2019-01-04 16:32] ardatan commented on #243
You can export DI container of a module using injector property, then pass it to TypeORM using useContainer function.

[2019-01-05 05:45] itxuye commented on #243
@ardatan Ok, thanks, i will try it .

[2019-01-05 10:21] Urigo commented on #243
if it's ok, I'll keep it open until we'll have an example somewhere that people can have a look at

[2019-01-05 18:16] Tyler-Churchill commented on #182
Would also like to see documentation on:

- schema directives

[2019-01-06 19:48] #246 closed

[2019-01-06 23:51] berstend commented on #182
Examples or best practices how to use in conjunction with code generation would be great as well.

Specifically making the resolvers strongly typed is a bit tricky currently, as we need to use a single generated file for all modules (as modules are able to extend schemas).

[code]

I feel in order to make the modules as type safe as possible a custom `graphql-code-generator` template might be requ

[2019-01-06 23:53] ardatan commented on #182
@berstend
Here you can see how to use resolvers signature together with graphql-modules, you can use `IResolvers` interface that is generated by graphql-code-generator.
https://graphql-modules.com/docs/guides/integrate-with-graphql-code-generator

[2019-01-07 00:03] berstend commented on #182
Hey @ardatan, thanks for the quick feedback!

Without aiming to derail this PR with specifics, when I use `as IResolvers` my resolvers aren't really strongly typed (as the parameters are of `any` type):

`as IResolvers`
![image](https://user-images.githubusercontent.com/1368633/50743405-b9aa3c00-1217-11e9-97af-b378b0de5e52.png)

`as Partial<UserResolvers.Resolvers<UserModuleContext>>`
![image](htt

[2019-01-07 00:06] ardatan commented on #182
Thank you for your feedback :) Let's move this to graphql-code-generator, because code generation stuff is not part of graphql-modules.

[2019-01-07 00:09] berstend commented on #182
Definitely, just wanted to mention here that there's huge potential for making extensive use of codegen (and the derived benefits) in the future. :-)

I'll continue exploring this and potentially submit PRs to `graphql-code-generator`.

[2019-01-10 19:04] TAnas0 opened #260 "Docs: unreferenced page"
First off, very well written documentation.

Just noticed that the page [Implement your providers](https://graphql-modules.com/docs/introduction/implement-your-providers) is not referenced in the side menu of the documentation nor is it accessible from any link in the docs.

[2019-01-12 00:02] gnz00 opened #264 "Importing providers with configurations without merging Query schemas"
Suppose you have a simple module with a provider that relies on an injected configuration:

[code]

[code]

And you try to create a higher order module that utilizes ProviderA:

[code]

With the above setup, `composed` and `people` will both be exposed as queries. Is there a way to only import the providers and pass them configuration?

[2019-01-12 13:37] ardatan commented on #260
Thank you! It is now fixed!

[2019-01-12 14:38] #260 closed

[2019-01-14 14:39] nakhodkiin opened #266 "Add support of Object Extensions"
I was playing awhile with `basic-with-dependency-injection` example and suddenly figuerd out that it seems that for now there is some issue with operation on type extension feature of graphQL.

Here is the section from the specification: https://facebook.github.io/graphql/draft/#sec-Object-Extensions wich describes particularly Object type extensions.

I'm defining the `Query` type on `AppModule`

[2019-01-14 20:16] ardatan commented on #266
Every single module has its own schema that is independent from each other. So before importing UserModule, the schema of UserModule is generated. Then the schema of UserModule is extended by AppModule’s. That’s why, the Query definition inside AppModule should be extension not UserModule’s. But, I recommend not to use extension nodes for root schema types; because every module may have its own qu

[2019-01-14 20:17] #266 closed

[2019-01-14 20:18] #264 closed

[2019-01-14 20:30] nakhodkiin commented on #266
Thank you for the explanation, it's much clearer now.

[2019-01-15 02:46] #235 closed

[2019-01-15 02:47] ardatan commented on #235
Closed due to inactivity. Feel free to open it if you have still this issue.

[2019-01-21 09:30] #250 closed

[2019-01-21 09:31] ardatan commented on #226
Available in 0.3.0

[2019-01-21 09:31] #226 closed

[2019-01-24 00:15] ardatan commented on #231
Fixed :)

[2019-01-24 00:15] #231 closed

[2019-01-24 18:18] ajbarry commented on #247
Dupe of #163

[2019-01-26 17:07] monsagri opened #292 "Providing non-graphql-modules context to apollo-server"
Hi!

First off, I love the look of this project, it seems to go down a few similar paths as we do in production.

However we need to pass in custom objects in to Apollo Server's context due to our implementation and I can't see an obvious way to combine that with using the context provided by graphql-modules.
Is this something you have considered?

Cheers,

Fabian

[2019-01-27 15:58] iagomelanias opened #293 "[Feature request] Provide onResponse and onError hooks"
Currently, there is a hook called onHook which is very useful. I believe it would be great to to extend this functionality by adding new hooks, like `onResponse` and `onError` or implement [request middlewares](https://github.com/prisma/graphql-middleware).

### Use case:
I would like to send errors to a error reporting tool, like Sentry. Currently, i need to use Apollo Server `formatError`, which

[2019-01-27 16:07] iagomelanias opened #294 "[Bug] Context is built every time the module is imported"
In [this tutorial](https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2), there is a part where we use GraphQL Modules to build the `currentUser` context. The recommendation is to create a `AuthModule` and import it in every module we need to authenticate the user. But... there is a problem.

Every time we import a module into anoth

[2019-01-27 18:11] orefalo opened #295 "[Q] How and where to define a global directive?"
[code]

How can I defined the @unique directive so it's visible in ALL modules?

[2019-01-27 19:20] ardatan commented on #295
Since every module has its own isolated schema, you need to have a common module with `@unique`. Then, import this common module wherever `@unique` is used.

[2019-01-28 04:36] orefalo commented on #295
works tks

[2019-01-28 04:36] #295 closed

[2019-01-28 04:37] orefalo opened #296 "[Feature request] Better way to identify module"
[code]

I have 10 modules in my app... which one is 2268816439529191?!

[2019-01-28 04:47] orefalo commented on #296
ok figured that I could use module.name to identify the source

[2019-01-28 04:51] orefalo commented on #296
even better, I can pass the name in the constructor!

[2019-01-28 04:51] #296 closed

[2019-01-28 09:14] monsagri commented on #292
Spent some more time on this myself and realised that Apollo server allows context functions to be async, so its just a matter of spreading your result in hopefully.

[code]

[2019-01-28 09:14] #292 closed

[2019-01-28 14:29] pixelmeister opened #297 "Is there a way to use graphql-shield with modules?"
I tried to see if I could use `graphql-shield` via the middleware options field in `graphql-modules`, but that did not seem to work. The `resolversComposition` options seem like a good place to make it work as well, but `graphql-shield` is really set up to be used as middleware. Any tips on how to make it work? I can alway use the permissions at the top when I instantiate the server, but would rat

[2019-01-28 20:25] pixelmeister opened #299 "[Bug] ModuleSessionInfo is not exported"
ModuleSessionInfo is not exported in `graphql-modules/packages/core/src/index.ts`

[2019-01-28 20:33] ardatan commented on #299
Fixed in #286

[2019-01-29 11:37] markcdev opened #300 "Testing Modules - Property 'resolvers' does not exist on type GraphQLModule<any, any, any>"
Following the example from the testing documentation and getting an error with the resolvers property not being available on my module. I tried using the selfResolvers property instead and i'm not sure if it's related but my provider isn't being swapped out for the new test one configured in my test module and so it's calling the actual implementation.

[2019-01-29 23:45] lucasconstantino opened #301 "About lucasconstantino/graphql-modules"
Hey, you!

Thank god someone built a _better_ solution for GraphQL modularization. I have had my approach on it a couple of years ago, published as (guess what?) [graphql-modules](https://github.com/lucasconstantino/graphql-modules).

~I'm here to charge you for copy-right violations~

No, seriouly now: I didn't take my project forward, but there are still people reaching there and using a code-ba

[2019-01-30 13:46] Urigo commented on #301
Wow @lucasconstantino !!

First - Thank you so much!!! that is VERY generous and nice of you!!!

Second - About moving and deprecating, what do you think about releasing a new version on your side with a readme with a deprecation message can help, and then we can release `@graphql-modules/core` also as `graphql-modules` (after giving @dotansimha @ardatan and myself permissions to the npm release)?

[2019-01-30 19:21] ardatan commented on #299
Available since 0.4.0

[2019-01-30 19:21] #299 closed

[2019-01-30 20:29] danielg2002 opened #303 "[0.4.0] TypeError: Cannot use 'in' operator to search for 'subscribe' in ASC"
works in 0.2.18 but fails on 0.3.0+

schema:

enum ConnectionOrderDirection {
    ASC
    DESC
  }

TypeError: Cannot use 'in' operator to search for 'subscribe' in ASC
    at _loop_2 (/Users/daniel/Code/OrangeLoops/phoenix-server/node_modules/@graphql-modules/core/dist/graphql-module.js:446:42)
    at _loop_1 (/Users/daniel/Code/OrangeLoops/phoenix-server/node_modules/@graphql-modules/core/dist/g

[2019-01-30 20:31] danielg2002 commented on #303
Also I think you should update the typescript definition file at least for GraphQLModule's "imports" option... I'm using an array of strings with the name of modules.

[2019-01-30 20:38] ardatan commented on #303
@danielg2002 After 0.4.0, we changed the way for importing modules. So, you have to use module itself for `imports` option.
For the bug related to enum, you can use the following canary alpha versions to make it work;
[code]

[2019-01-30 20:39] ardatan commented on #300
Which version of `graphql-modules` are you using?

[2019-01-30 20:49] danielg2002 commented on #303
@ardatan thank you! now works!

[2019-01-31 01:46] lucasconstantino commented on #301
Ok, so, what have I done so far:

on **GitHub**:
- [x] Updated project's description and tags;
- [x] Updated project's README to inform deprecation, and point to [Urigo/graphql-modules](https://github.com/Urigo/graphql-modules);
- [x] Archived repository, to make it read-only and avoid new issues/pull-requests.

on **NPM**:
- [x] Published a new version (`0.3.0`) with the updated README;
- [x] Dep

[2019-02-01 01:47] iamclaytonray opened #308 "question(docs): how to merge typeDefs & resolvers"
I'm slightly confused at the paramters passed to `GraphQLModule`.  When importing modules, it works but then I wonder what the purpose of the `typeDefs` and `resolvers` fields are for, if the `imports` field internally manages merging type definitions and resolvers.

I also know that I could import all of my resolvers and type definitions using array notation on each module. IE: `resolvers: [Artic

[2019-02-01 02:56] tlivings opened #309 "Accessing module configuration from resolver"
Currently there is some solid documentation around using dependency injection to access configuration in providers.

If one isn't using providers, how is configuration accessed from the resolver directly?

[2019-02-01 03:14] ardatan commented on #309
You can access the configuration of module using factory function;
‘’’
resolvers: ({ config }) => {
....
})
‘’’

[2019-02-01 03:56] tlivings commented on #309
Thanks!

[2019-02-01 03:56] #309 closed

[2019-02-02 10:43] b091 opened #311 "How to use modules with graphql-compose."
Hi,
is there any way - or walk around for now to provide exetucable schema eg. from [graphql-compose](https://github.com/graphql-compose/graphql-compose)?

[2019-02-02 17:45] ardatan commented on #311
You can use `extraSchemas` field;
[code]

[2019-02-02 22:06] RIP21 opened #313 "Make graphlql-modules compatible with SchemaLink"
I'm using an alpha based on this PR https://github.com/Urigo/graphql-modules/pull/312
And I have exactly the same issue on the larger codebase as I have here in sandbox below.
https://codesandbox.io/s/92kxln66vy

I think SchemaLink is used in unit tests heavily when you develop a real ApolloServer.
But I using it to have GraphQL Server on Client.

Making it work properly will enable us at Revolut

[2019-02-02 22:34] iamclaytonray commented on #243
Since the [WhatsApp Clone](https://github.com/Urigo/WhatsApp-Clone-server) was released today, we could probably close this issue now.

[2019-02-04 18:19] orefalo opened #317 "Ugraded to 0.4 : RangeError: Maximum call stack size exceeded"
[code]

Was working fine before... any idea?

tks

[2019-02-04 18:23] orefalo commented on #317
So... my Order module... imports my party module... and vis versa.

I have no idea how to fix it...

[2019-02-04 19:30] ardatan commented on #317
Since 0.4.0, Circular dependencies are not supported anymore. If you want to keep them, you can stay at the old version. But otherwise you have to fix circular dependencies.

[2019-02-04 20:15] orefalo commented on #317
well.. that's a real concern as far as I am concerned.
closing this issue.

Will most likely strip away modules.

[2019-02-04 20:15] #317 closed

[2019-02-04 20:17] Urigo commented on #317
@orefalo this was on purpose because we haven't found a use case where leaving this option would make less good then damage.
If you think otherwise, we would love to see your use case and help.
Also, if it's code that you can't share in the open, we can jump on a call and discuss if it's more comfortable for you.
Looking forward to hear your thoughts

[2019-02-05 02:22] birkir opened #321 "Support GraphQLSchema"
Currently I'm creating my schemes with GraphQLSchema and extracting typeDefs and resolvers with:

[code]

How hard would it be to support just dropping the schema object right in without having to define the resolvers?

I am having a hard time making field in a type that returns an list of Unions to show any data, where it works fine with normal schema.

Any ideas welcome

[2019-02-05 03:14] ardatan commented on #321
You can use `extraSchemas` field if you want to pass GraphQLSchema object into GraphQLModule.

[2019-02-05 03:57] birkir commented on #321
Ah very nice, I was just thrown away from the naming but I get it now.

Only issue with that is I have to manually add union __resolveType to the resolvers map.

type-graphql has a resolverMap function that I am able to extract  and filter them from.

Thanks for the quick response

[2019-02-05 08:56] ardatan commented on #313
Available in 0.4.1

[2019-02-05 08:56] #313 closed

[2019-02-05 08:56] ardatan commented on #303
Available since 0.4.1

[2019-02-05 08:56] #303 closed

[2019-02-05 10:23] orefalo commented on #317
Thank you @Urigo, much appreciated. Let me share the concepts as the code base is getting a little complex by now.

It's very simple: let's take the example above.  Party<->Order
      each domain has its own module.

Domain Order (Module):
[code]

Domain Party (Module)
[code]

So... How to get around the circular dep?

**Option 1**: Move PartyRole to its own module.
   In fact, I am not even sure

[2019-02-05 10:59] ardatan commented on #317
Let's take another example to make it clear;
We have 3 different entities in your database;
`User`, `Post` and `Comment`
- `User` doesn't depend on `Post` and `Comment`
-`Post` doesn't depend on `Comment`.
But
- `Comment` depends on `User` and `Post`, because it has `userId` and `postId` fields
- `Post` also depends on `User` because it has `userId` field

So let's create modules in that way,
**Us

[2019-02-05 11:50] dotansimha commented on #301
Thank you @lucasconstantino ❤️ !
We published the latest version as `graphql-modules`.

[2019-02-05 11:50] #301 closed

[2019-02-05 12:17] Urigo commented on #301
@lucasconstantino please also reach out to me on whatever channel you want, I'm sure we have a lot of things we can and should collaborate on

[2019-02-05 13:12] alfaproject opened #322 "Bundle size after updating to @graphql/core 0.4.1 grew massively"
So after updating to latest version, my bundles pretty much duplicated in size from 2.78mb to 5.09mb.

It looks like `graphql-toolkit` brings a bunch of transient dependencies like a chunk of Babel and TypeScript itself: https://puu.sh/CHCvc/608cd28a71.png

Is it possible to do anything about this?

[2019-02-05 18:37] orefalo commented on #317
Indeed... at that's an elegant way to solve the issue. thank you for opening my eyes.

[2019-02-05 19:35] ardatan commented on #322
Are you using GraphQL-Modules on the server?
If yes, why do you need to use Babel and create a bundle?

[2019-02-05 19:56] alfaproject commented on #322
Yes, because I'm working with lambda functions and size/performance matters a lot, but I can't see any reason for this library not be used on front-end either which would suffer from the same bundling issues. ):

I'm not using Babel. Babel is a transient dependency of `graphql-toolkit`:
[code]

Same thing for TypeScript and a few other smaller/medium dependencies.

[2019-02-05 20:59] ardatan commented on #322
We can provide es2015 module in addition to commonjs, then you can do tree shaking. I'll try to manage that.

[2019-02-07 05:39] tlivings opened #325 "Exclude root types"
Is it possible to exclude an imported root type (query, mutation, subscription)?

For example, it should be possible for a module `A` to import `B` and reuse its typeDefs without exposing the root types as part of its schema.

Perhaps something along the lines of:

[code]

[2019-02-07 05:44] tlivings commented on #308
If you are just merging together two modules (ArticleModule, UserModule) and you don't need additional `typeDefs` or `resolvers` as part of the new schema, then you don't need to specify them.

[code]

[2019-02-07 05:46] tlivings commented on #300
Any updates?

[2019-02-07 07:59] ardatan commented on #325
Hi @tlivings,
Yes, it is possible and we don't need any specific option for that;
You can use `forChild` for this stuff.
For example there is a module that exposes different type definitions according to the module's configuration

So when you use `MyModule.forChild({ doNotExpose: true })`
`MyModule` will generate a different schema while it is the same in the rest of the application (edited)
That

[2019-02-07 08:00] #308 closed

[2019-02-07 11:29] alfaproject opened #326 "Schema directive context mutation is lost"
I've just spent a great deal of time trying to figure out why my context changes were not being propagated to the original resolver in a schema directive and I'm not sure if it's inteded behaviour or not.

Schema directive code looks something like:
[code]

The output of that in a guarded field looks like:
[code]

The context passed to the original resolver has `acl` set, but the original resolver

[2019-02-07 13:19] ardatan commented on #326
Why do you change the context using a directive? You can use `context` of `GraphQLModule`.

[2019-02-07 14:00] alfaproject commented on #326
I can't do that because that's the global context. The only thing I do there is getting the user from the access token.

This is a guard directive which doubles as middleware and that's why I want to change the context that goes into the original resolver:
[code]

That allows me to see whether or not the current user can query for the `guarded` field based on my attribute-based access control logi

[2019-02-07 15:26] tlivings commented on #325
Yes but this would require every module have knowledge of when it needs to expose a type vs not.

My question is whether we can, without an imported module’s knowledge, choose what to import and not.

[2019-02-08 08:56] BeeHiveJava commented on #198
I just tested this today and it does not seem to work. I tested versions 0.4.2 and 0.5.0-alpha.e4344183. The modified schema only seems to get through when the middleware is added to the root module (so changing the root module or moving the middleware to the root module).

I'm using the exact sample supplied above by @ghost so I'm not certain where to go from here?

[2019-02-12 13:54] alfaproject commented on #227
This issue can be closed because a lot of the code was moved out from this repository to https://github.com/dotansimha/graphql-toolkit

[2019-02-12 14:07] #227 closed

[2019-02-14 09:51] markcdev commented on #300
Any news on this?

[2019-02-18 21:30] Und3Rdo9 opened #339 ""Cannot read property 'fetch' of undefined" when using Request scope with RESTDataSource"
Using RESTDataSource as Provider with `ProviderScope.Application` and `ProviderScope.Session` works just fine, but as soon as you switch to `ProviderScope.Request`, fetch in`RESTDataSource.ts` is `undefined`. It seems like the `intialize` method is not being called in this case which initialises the httpCache with the fetch method on it. See: https://github.com/apollographql/apollo-server/blob/mas

[2019-02-20 20:07] ardatan commented on #300
I created a PR for this issue, and published an alpha release;
[code]

So, could you try testing your module again by using this updated documentation?
https://github.com/Urigo/graphql-modules/blob/test-modules/docs/introduction/test-your-module.md

[2019-02-22 08:21] ardatan commented on #198
#335 We are planning to change our merge logic, so you won't lose your modifications on child modules if you use middlewares.
Could you try it with the following versions?
[code]

[2019-02-22 08:23] ardatan commented on #325
Correct me if I'm wrong, in order to define what to import from a module, I should know what that module has. So, it means indirect manipulation on that standalone module.
Instead of this manipulation, isn't staying inside the child module's boundaries by using configuration better way to prevent possible errors in the future?

[2019-02-22 08:24] ardatan commented on #297
#198
Do you have the same issue? If you have, could you try the canary versions in the last comment I shared there?

[2019-02-22 08:25] #243 closed

[2019-02-22 08:27] ardatan commented on #293
That would be nice! Any PRs and more ideas are welcome!

[2019-02-22 08:29] ardatan commented on #326
GraphQL-Modules calls resolver functions with the context function of the module not the application. But we should figure this out. We will work on that!

[2019-02-22 08:32] #321 closed

[2019-02-22 08:35] ardatan commented on #294
Yes, you're right. Context was built async for each module recursively before. But now we changed it and it is done using a sync iteration.
And for your case, it must be fixed in the latest version. Could you check and let me know if it works correctly.

[2019-02-22 12:19] BeeHiveJava commented on #198
I just tested this and it does not seem to work. The schema only gets modified when applying the middleware on the root module.

[2019-02-22 12:42] ardatan commented on #198
How do you test it?

[2019-02-22 12:47] BeeHiveJava commented on #198
Root module:

[code]

Child module:

[code]

This does not seem to modify the final schema for me. But again, when I place the middleware in the root module it does work:

[code]

[2019-02-22 12:51] ardatan commented on #198
@BeeHiveJava
The schema of each module is created independently from each other recursively.
First, `UserModule` creates a schema with its typeDefs and resolvers. Then, `middleware` gets called with that schema not the root module's.
Second, `AppModule` gets schemas from each imported module then merges it with its own typeDefs and resolvers.
So, I don't think we should reflect your custom propert

[2019-02-22 13:07] BeeHiveJava commented on #198
I guess that the biggest use case would be libraries such as [join-monster](https://github.com/acarl005/join-monster). I think we can get these libraries to work by modifying the generated schema with custom properties afterwards, but it would be real nice if we could add custom properties to the schema from a module.

In addition I think that this is also solvable by implementing some custom dire

[2019-02-22 13:34] ardatan commented on #198
So, the point is to get that field inside the resolver right?
Your child module can take the custom properties of its module's schema like this;
[code]

I just added a test for that case;
https://github.com/Urigo/graphql-modules/pull/335/files#diff-d906e55e6c8b73e6a4d023a5deb41485R1008

[2019-02-22 14:15] BeeHiveJava commented on #198
You're right, I missed that point! I'll do some testing and I'll let you know if I get my use case for GraphQL-shield and join-monster to work.

[2019-02-22 14:26] tlivings commented on #325
Here is the use case: I write a module that builds upon another module, but I don’t want to expose its api surface to users, only my own. This could be for many reasons, but for example: not wanting to expose an api that end users don’t have permission for, etc.

Asking every author to enable a config option for this is not realistic, so having the framework facilitate this in an easy way makes mo

[2019-02-22 16:01] alfaproject commented on #326
Yeah, I saw that blog post but that's very basic for our needs. Our whole ACL directive is just `@guard` without any parameters. All the magic is done on the directive and that's why I need to pass the grant to the resolver. (The permissions are set by the users in the admin panel and they can set stuff like, a user with role X from organization Y can access resource `User` but can't see the `emai

[2019-02-26 17:50] FerX opened #346 "Inject db in context without ts?"
I apologize for the request,
but I can not find a way to **inject the reference to the DB in the context**.
**I do not use ts.**

thank you very much.

[2019-02-26 18:38] ardatan commented on #346
Since TS is not required for GraphQL-Modules, you can use Injection Tokens;
[code]

[2019-02-26 18:42] #346 closed

[2019-02-26 19:51] FerX commented on #346
OK thanks,
in this way it works.
I thought there was a way to avoid doing includes in every module.

[2019-02-27 09:28] kamilkisiela opened #347 "Testing Utils"
I was thinking about some testing utils that might improve the way we write tests. Here is what we currently use:

- build a context and mock injector
- make all arguments of a resolver optional (something out of graphql-modules scope)

[code]

Maybe adding something similar to graphql-modules?

[2019-02-27 14:04] BeeHiveJava commented on #198
I tested and debugged some and your provided sample seems to work, the new properties are present on the schema @ardatan.

I couldn't, however, get [join-monster](https://github.com/acarl005/join-monster) to work, but it seems like the issue I'm having now is irrelevant. Thanks for all the support thus far, fantastic library . 👍

[2019-02-27 21:14] ardatan commented on #198
@BeeHiveJava Let's keep this issue open until your issue is solved.

[2019-03-03 00:23] rwlnd opened #350 "Illegal Resolver Invocation - Module Context hasn't been passed!"
When adding a DateTime type (https://github.com/waitandseeagency/graphql-type-datetime) as a scalar type to my schema, I get the following error when executing a graphql query that contains an actual DateTime field:

[code]

I did the same thing to add the JSON scalar (https://github.com/taion/graphql-type-json) and everything worked out perfectly there. Comparing both repo's didn't really help me

[2019-03-04 21:51] betaflag opened #352 "Help with circular dependency with Auth and User modules"
I'm currently building on your basic example where there's a `auth` module and an `user` module and where the former depends on the latter.

If I want to add stuff into the `user` module that needs authentication (ex: managing users), I understand that I need to add the `auth` module as a dependency, however this creates a circular dependency.

The only alternative I see is to move basic user stuf

[2019-03-05 00:15] ardatan commented on #352
I think there should be a basic User module, then an authentication module imports this basic User Module, then another module imports both. Does it work for you?

[2019-03-05 00:17] ardatan commented on #350
Are passing the context to the server properly?
`const { schema, context } = YourModule;`
`new ApolloServer({ schema, context });`

[2019-03-05 02:31] betaflag commented on #352
I'm not sold. By design, my app should have a User module for CRUD operations and an Auth module for Authentication. This is the first foundational block I'm coding and I'm already resorting into a workaround because graphql-modules doesn't support it. I understand that enabling circular dependency is like shooting ourselves in the foot and I would love coming up with a better solution, I'm just n

[2019-03-05 04:36] ardatan commented on #352
I still don't understand your point to have a single `User` module for all `User` operations. you can seperate modules by functionalities. Manipulating user data on the data source is a single functionality while checking it by your Authentication Module is another.

User.graphql
[code]

UserProvider.ts
[code]

UserModule.ts
[code]

AuthProvider.ts
[code]

Auth.graphql
[code]

AuthModule.ts
[code]

[2019-03-05 09:12] rwlnd commented on #350
Hey @ardatan, I'm definitely passing the context to the server properly.
Digging a bit deeper in the code I found that the check that's causing the error, `checkIfResolverCalledSafely` , when a DateTime scalar is being resolved is wrapped in a huge IF block  which checks if we are NOT dealing with a scalar type: https://github.com/Urigo/graphql-modules/blob/master/packages/core/src/graphql-module.

[2019-03-05 10:51] ardatan commented on #350
@rwlnd Oh, my bad. So, you have a scalar definition but it is not an instance of GraphQLScalarType. Then, it cannot understand if it is a regular resolver or scalar type. This is definitely a bug. For now could you do something like this;
[code]

[2019-03-05 10:51] #294 closed

[2019-03-05 13:07] rwlnd commented on #350
@ardatan, thanks for the feedback. I tried your workaround but getting a different error this time:

[code]

On the initial error, one difference my colleague noticed that the `graphql-type-datetime` plugin has a dependency on graphql, unlike the `graphql-type-json`. So we're thinking that that's why the scalar type is not being detected as a `GraphQLScalarType` in `graphql-modules`.

[2019-03-05 13:57] KharamanV opened #353 "DI is not working inside providers - @babel/typescript"
When i'm trying to inject some provider into some other provider, i don't receiving anything in constructor.

`ChatsProvider`
![image](https://user-images.githubusercontent.com/4006620/53810085-d84e5a00-3f5e-11e9-9728-c534cc8f950d.png)

`ChatsModule` (I have `AuthGraphQLProvider` in the `AuthGraphQLModule`)
![image](https://user-images.githubusercontent.com/4006620/53810180-121f6080-3f5f-11e9-9ede

[2019-03-05 14:03] ardatan commented on #353
Do you have `reflect-metadata` in your project?

[2019-03-05 14:09] KharamanV commented on #353
Hi! Yes, i have.
`import 'reflect-metadata';` in the root of the project (`0.1.13` version)

[2019-03-05 15:07] ardatan commented on #353
@KharamanV Could you reproduce a repo?

[2019-03-05 20:11] KharamanV commented on #353
Link to the repo: https://github.com/KharamanV/gql-modules-test

Steps to reproduce:
1. `yarn install & yarn start`
2. Go to the http://localhost:8080/graphql
3. insert `subscription {
  messageAdded {
    text
  }
}`

I'm trying to inject `AuthGraphQLProvider` into `src/modules/Chats/graphql/ChatsProvider.ts` file.

Inside `ChatsProvider` you can see console.log of the `AuthGraphQLProvider`

@ard

[2019-03-06 03:24] ardatan commented on #353
@KharamanV Somehow babel-typescript doesn't reflect typings as metadata properly. I don't know much about babel-typescript. And I think there is no point to use babel-typescript while typescript's own compiler already compiles everything properly for NodeJS. If you want to use TypeScript on runtime, you can prefer `ts-node`, instead of having a bunch of configuration with babel. With `ts-node`, yo

[2019-03-06 10:31] ardatan commented on #353
Yes, of course but I don’t know how to solve it.

[2019-03-07 17:03] deweve opened #355 "[TS error] Types of property 'schemaDirectives' are incompatible."
Hello,

I'm trying to create an AuthModule and to create an auth directive to be able to add this one in another module in the future. Without GraphGl-modules I will create my auth guard like this.
[code]
But this produce an error:

[code]
This is my schema, it only contain my guard

[code]

This is my directive file

[code]

I've already tried to follow the instructions from the medium article bu

[2019-03-07 17:09] ardatan commented on #355
It looks like a type error, so you can just bypass it until we fix it;
[code]

[2019-03-07 20:02] abhijeet1403 opened #356 "[Bug] Unable to use resolversComposition in app module"
**Issue**: Using resolverComposition as a function on app module crashes the app
**Workaround**:
- Can use resolverComposition as function on every submodule with resolvers and typedefs
- Can use resolverComposition as a json object

**Desired Behaviour**:
Should be able to use resolverComposition as function on app module level

**Code**:
app.module.js
[code]

auth.composition.js
[code]

Error
[c

[2019-03-08 00:27] ardatan commented on #356
`Connection "default" was not found.` doesn't look related to GraphQL-Modules. I think you're using TypeORM, and trying to use it before calling `createConnection`.

[2019-03-11 09:45] deweve opened #359 "Import a Session provider in an application provider"
I've tried to create a session provider to translate text, and I would like to use it with another application provider. This is the userProvider which use the translated provider which is a session provider

[code]
[code]
[code]

[code]
And when I call the function editUser for the first time, I think when user provider is   created there is the problem. This is the stacktrace :

[code]

[2019-03-11 15:36] ardatan commented on #359
Session Scope Providers are created on each network request while Application Scope Providers are created once on server bootstrap. So, that's normal not to be able to access session scope providers from application scope ones.
https://graphql-modules.com/docs/introduction/dependency-injection#session-scope

[2019-03-11 15:45] deweve commented on #359
Ok, so if I want to create an auth session provider I will not be able to have it directly in my provider. Should I pass my session provider to the function which wants to use it?
[code]

[2019-03-11 15:48] ardatan commented on #359
It didn't look good to me. You can make `UserProvider` session-scoped as well, or inject your application scope provider into session scoped provider.

[2019-03-11 15:53] deweve commented on #359
Okay, thanks for the advice, I will look for another implementation. My goal is to be able to have an error message in a different language.

[2019-03-11 17:35] #359 closed

[2019-03-12 20:31] lucasconstantino opened #360 "Webpack bundling issue: "Module not found: Error: Can't resolve 'fs'...""
Hey guys,

Trying to bundle up my webpack based application with `@graphql-modules/core` included on a _browser_ environment, and I'm get multiple resolver issues like the following:

[code]

Following the stack tree, it looks like `graphql-toolkit`, recently introduced, is not ready for usage outside Node environments.

I know this is quite an uncommon need, but as the whole Apollo and GraphQL st

[2019-03-12 20:34] ardatan commented on #360
Yes, you're right. Now, we are working on making GraphQL-Modules tree-shakable together with graphql-toolkit. So, it is still WIP.

[2019-03-12 20:36] lucasconstantino commented on #360
@ardatan I'm currently trying some downgrade to see if there is any working version. If I have any luck I'll bring it here ;)

[2019-03-12 20:47] ardatan commented on #360
We did some changes here; https://github.com/Urigo/graphql-modules/commit/ce5f224eeeabeade6a02475a78e16df00164d250
Could you test with this version;
[code]

[2019-03-14 17:30] ardatan commented on #360
Fixed in `0.6.0`

[2019-03-14 17:30] #360 closed

[2019-03-17 01:38] ardatan commented on #353
@KharamanV Unfortunately, @babel/typescript doesn't use Type Reflection like TypeScript's official compiler does. So, you have two options; use ts-node/typescript or `@Inject()` decorator to inject providers inside other providers.

[2019-03-18 16:07] ardatan commented on #317
I wrote a blog post about it;
https://medium.com/the-guild/manage-circular-imports-hell-with-graphql-modules-4b1611dee781

[2019-03-20 00:28] ardatan commented on #356
Closing this issue, feel free to open again if the problems persists

[2019-03-20 00:28] #356 closed

[2019-03-26 20:32] 5amfung opened #378 "Node 8 doesn't support decorator."
My company is still on Node v8.  How do I go about using `@Injectable`?  I'm getting...

[code]

[2019-03-26 20:44] ardatan commented on #378
I think you are using plain JavaScript, so I recommend you to use Babel for decorators.

[2019-03-26 20:50] 5amfung commented on #378
I think I managed to make it worked without using babel nor switching to TypeScript.  A lot of developments are still using plain js.  I hope Babel and TypeScript don't become manadatory in the future.

[2019-03-26 20:51] 5amfung commented on #378
For the others perusal, I did this.

[code]

[2019-03-26 21:00] 5amfung commented on #339
I also used RESTDataSource as Provider, but with `ProviderScope.Session` only.  `initialize` doesn't seem to be called as all because `this.context` is an empty object.  Had `initialize` been called, I should see some keys set in `this.context`.

[2019-03-26 21:02] #378 closed

[2019-03-29 06:26] abhijeet1403 opened #379 "Module Configuration not working"
(@Inject(ModuleConfig(MyModule) method in the Provider constructor is throwing an error.

Reproduction :

Just followed the steps mentioned at
https://graphql-modules.com/docs/introduction/configuration

Issue:
Either the documentation is incomplete or there's an issue with module configuration

my-provider.ts
[code]

my-module.ts
[code]

app.ts
[code]

Error:
[code]

[2019-03-29 06:30] abhijeet1403 commented on #379
Also if anyone can provide an ES6 version of the same documentation it'll be very helpful.

[2019-03-29 08:35] ardatan commented on #379
This is

[2019-03-29 08:36] ardatan commented on #379
Because you have a circular imports, so MyModule

[2019-03-29 10:59] nshaikhinurov opened #380 "onConnect Hook called twice!"
I'm using graphql-modules and subscriptions. Some of my modules use a provider with onConnect() method which is supposed to be called once when Apollo Server registers the connection. But onConnect Hook is called twice. And the constructor of my provider is also called twice. I can't understand why this happens.

[code]

When I subscribe via Apollo playground a resolver gets `SubscriptionsProvider

[2019-03-29 11:04] ardatan commented on #380
@nshaikhinurov Thank you for reporting this bug. I will fix it soon!

[2019-03-29 11:19] ardatan commented on #379
I added the usage like below to ModuleConfig;
[code]
You can try it with canary versions until we release a new version;
`@graphql-modules/core` -> `0.7.0-alpha.c85943e2`

[2019-03-29 14:45] raulingg opened #381 "Apollo's Schema Directives don't work with modules and Yoga"
None error is shown after either transpiling typescript or in runtime with GraphQL playground, everything works ok, but the directives don't.

I have 2 directives are: @trim @constraint(...args)

I also tried to put the directives as Yoga's arguments like before adding graphql-modules, but it doesn't work anyway.

[code]

Here is my code

**UserModule.ts**
[code]

**TrimDirective.ts**
[code]

**sc

[2019-03-29 14:47] ardatan commented on #381
Could you share you server bootstrapping code?

[2019-03-29 14:54] raulingg commented on #381
@ardatan Here:

**server.ts**
[code]
**index.ts**
[code]

**AppModule.ts**
[code]

[2019-03-29 18:51] ardatan commented on #381
You should visit schema using schemaDirectives seperately, because of the some limitations we cannot apply modular approach to schemaDirectives.
By the way, you don't have to pass context to the server as well :)
[code]

[2019-03-29 20:29] raulingg commented on #381
Thank you for your workaround, it works fine for me.

according to your suggestion "you don't have to pass  the context to the server"

it happens that when I don't pass the context to the server, my middlewares don't receive the context of the modules and just receive the request, hence I have to pass the context.

[2019-03-29 20:33] raulingg commented on #381
[](url)

Thank you @ardatan  for your workaround, it works fine for me.

According to your suggestion _"you don't have to pass  the context to the server"_

It happens that when I don't pass the context to the server, my middlewares don't receive the context of the modules and just receive the request, hence I have to pass the context.

[2019-03-29 20:48] #381 closed

[2019-04-01 07:20] abhijeet1403 opened #389 "Possible to pass the context to submodules?"
Is it possible to pass context in submodules from the root module?
Currently only injector is being passed. I want to pass extra objects in the context at the root module which I want to use in all imported modules and submodules.

[2019-04-01 09:09] nshaikhinurov commented on #231
Still there sometimes

[OnConnect hook](https://graphql-modules.com/docs/introduction/dependency-injection#onconnect-hook)
![image](https://user-images.githubusercontent.com/4477911/55316314-8f1ef680-5487-11e9-8fd0-0e8d36a90c09.png)

[2019-04-01 10:08] nshaikhinurov opened #390 "[Feature Request, Question] onOperationComplete() lifecycle hook from Apollo Server"
I'm using subscriptions and I'm trying to handle an event when Apollo Server (with App GraphQl Module connected) receives message of type GQL_STOP from client over ws connection as described in the [graphql-ws Protocol](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md).

In Apollo Server [docs](https://www.apollographql.com/docs/graphql-subscriptions/lifecycle-ev

[2019-04-01 15:47] raulingg commented on #380
In my case this is executed four times, I think that quantity is defined by the quantity of your modules, because i have 4 modules.

[2019-04-02 01:06] raulingg opened #396 "Error: Dependency Provider Not Found!"
I'm trying to use my CommonModule's PrismaProvider  inside my AuthModule's AuthProvider and always I get the same error. I've used all different ways available on the [graphql-modules documentation's examples](https://graphql-modules.com/docs/introduction/dependency-injection), but none of them work.

### The error:

### My Code
**app/index.ts**
[code]

**common/index.ts**
[code]

**module/auth/in

[2019-04-02 03:36] ardatan commented on #396
I think you have circular import in somewhere and you're trying to inject a provider before NodeJS loading; so it cannot load `PRISMA_BINDING`. I recommend to use class itself instead of token, and seperate provider classes into different files.
**app/index.ts**
[code]
**common/providers/prisma-binding.ts**
[code]
**common/index.ts**
[code]

**module/auth/index.ts**
[code]

**auth.provider.ts**
[c

[2019-04-02 04:21] ardatan commented on #390
I created a PR related to your feature request. You can try the canary alpha version;
`@graphql-modules/core@0.7.0-alpha.d44931da`

[2019-04-02 04:22] #353 closed

[2019-04-02 04:23] #352 closed

[2019-04-02 04:24] ardatan commented on #339
Must be fixed in this canary version;
`@graphql-modules/core@0.7.0-alpha.aeba5abf`

[2019-04-02 04:26] ardatan commented on #322
Treeshaking is available in the latest version. Please open the issue again if your problem persists.

[2019-04-02 04:26] #322 closed

[2019-04-02 04:27] #297 closed

[2019-04-02 04:29] ardatan commented on #389
That violates encapsulation, that's why I recommend to create a common module which creates the context for you as a child module then this context can be shared in other modules.
Check this out;
https://medium.com/the-guild/why-is-true-modular-encapsulation-so-important-in-large-scale-graphql-projects-ed1778b03600

[2019-04-02 04:29] #389 closed

[2019-04-02 04:30] #247 closed

[2019-04-02 04:31] ardatan commented on #198
We are using different approach for merging schemas, so I think your issue is solved in the latest version. Feel free to open this issue again if your problem persists.

[2019-04-02 04:31] #198 closed

[2019-04-02 04:32] ardatan commented on #355
Does this problem still persist? If it does, please reopen this issue.

[2019-04-02 04:32] #355 closed

[2019-04-02 12:51] deweve commented on #355
Yes the problem persists but the fixe that you gave is working

[2019-04-02 12:54] deweve opened #399 "[TS error] Types of property 'schemaDirectives' are incompatible"
I reopen the issue #355

I'm trying to create an AuthModule and to create an auth directive to be able to add this one in another module in the future. Without GraphGl-modules I will create my auth guard like this.
[code]
But this produce an error:

[code]
This is my schema, it only contain my guard

[code]

This is my directive file

[code]

[2019-04-03 07:30] #350 closed

[2019-04-03 07:31] ardatan commented on #350
I think the issue is solved on `graphql-type-datetime`. Closing the issue then. Open this issue again if the problem persists.

[2019-04-04 15:06] alfaproject commented on #381
@ardatan this was working fine before v0.6.6 tho.

Example from: https://www.apollographql.com/docs/apollo-server/features/directives

[code]

That stopped working in v0.6.6 but I didn't see any deprecation notice. If it's not supported anymore, maybe it should be written somewhere? ):

[2019-04-04 16:32] ardatan commented on #390
It is available in 0.7.0.

[2019-04-04 16:32] #390 closed

[2019-04-04 16:32] ardatan commented on #380
It is available in 0.7.0.

[2019-04-04 16:32] #380 closed

[2019-04-04 16:32] ardatan commented on #379
It is available in 0.7.0.

[2019-04-04 16:32] #379 closed

[2019-04-04 16:32] ardatan commented on #339
It is available in 0.7.0.

[2019-04-04 16:32] #339 closed

[2019-04-04 22:36] raulingg commented on #396
I continue having the same issue, but now between AuthProvider and PostProvider:

### the error:

###  my code:

**modules/index.ts**
[code]
**modules/auth/index.ts**
[code]

**modules/auth/providers/auth.provider.ts**
[code]

**modules/blog/index.ts**
[code]
**modules/blog/providers/post.provider.ts**
[code]

That 's weird because DI injects UserProvider into AuthProvider but doesn't with AuthPro

[2019-04-05 04:01] ardatan commented on #396
@raulingg So, could you change `imports: []` to `imports: () => []` and `providers: []` to `providers: () => []`.

[2019-04-05 15:02] raulingg commented on #396
it doesn't work either . you can look into my repo [here](https://github.com/raulingg/graphql-boilerplate/tree/modules)

[2019-04-05 15:19] ardatan commented on #396
Oh you were using babel-typescript. It has some limitations, so we recommend to avoid using it. Just use ts-node only.  Check this;
https://graphql-modules.com/docs/recipes/development-environment

[2019-04-05 16:31] raulingg commented on #396
I am not actually using babel, I'm using ts-node as you can see in my repo. I recently removed all the babel's dependencies from my codebase.

But the issue continues.

[2019-04-08 11:57] deweve opened #413 "Question: Is it possible to test graphql modules with specific header (Authorization)"
I'd like to be able to test my graphql module which use the header to retrieve the actual user.

[2019-04-08 14:54] deweve commented on #413
I found a solution to be able to test a query with a special header

[code]

[2019-04-08 14:54] #413 closed

[2019-04-08 18:09] tlabarge opened #415 "GraphQL-Modules Error: Schema is not valid! error when running compiled code with node instead of ts-node"
I've been trying to follow the recipe at  https://github.com/Urigo/graphql-modules/blob/master/docs/recipes/load-your-schema.md#using-sonar-in-graphql-toolkit to put my schema definition files into `*.graphql` files within a `schema` sub-directory of a module. This works perfectly when I run the code with `ts-node`. However, after compiling the code with `tsc`, I get the following error when I try

[2019-04-09 03:55] ardatan commented on #415
You should copy your files to the JavaScript output folder as well.

[2019-04-09 03:55] #415 closed

[2019-04-09 18:30] jasonmacdonald opened #416 "[TS-ERROR] GraphQLModule not assignable to GraphQLModuleOptions"
I've been pulling my hair out all afternoon with this. I'm following the instructions from [this article ](https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2) and I cannot get rid of this typescript error for the `resolversComposition`.

I've even simplified the call to just get it working...

[code]

But Typscript keeps giving me

[2019-04-09 18:45] jasonmacdonald commented on #416
nevermind, I finally figured out I had to add `any` to the return type on `export const resolversComposition = ({ typeDefs }): any => {`

[2019-04-09 18:45] #416 closed

[2019-04-10 12:12] tlabarge commented on #415
@ardatan Thanks for the reply, but I am afraid that it still does not work for me.

I'm puzzled by your comment about Sonar not being part of GraphQL-Modules. Looking at the documentation at https://graphql-modules.com/docs/recipes/load-your-schema, it references the following import: `import { loadResolversFiles, loadSchemaFiles } from '@graphql-modules/sonar';`

However, I agree that I do not se

[2019-04-10 15:05] Richard-Choooou opened #419 "error: Reflect.getMetadata is not a function"

[2019-04-10 15:18] Richard-Choooou commented on #419
I import 'reflect-metadata' fixed it

[2019-04-10 15:20] ardatan commented on #419
We can close the issue then 👍🏻

[2019-04-10 15:20] #419 closed

[2019-04-10 21:11] raulingg commented on #396
some news?

[2019-04-11 05:39] dotansimha commented on #415
@tlabarge can you please provide an example module file, and add a screenshot of the files tree?
Regarding sonar, the docs are outdated, the import should come from `graphql-toolkit` now.

[2019-04-11 21:10] alx13 opened #420 "Incompatible types when using @graphql-codegen/cli"
I was trying to create new project with TypeScript using this instruction: https://graphql-modules.com/docs/recipes/graphql-code-generator
But I'm getting error about incompatible types when compiling using tsc:
[code]

`src/modules/index.ts`
[code]
`codegen.yml`
[code]

versions:
[code]

[2019-04-12 06:43] Richard-Choooou opened #421 "How to use context in provider?"
Any way to get the context(session) in the provider?

[2019-04-12 07:37] ardatan commented on #421
Hi @Richard-Choooou
You have two options to get `ModuleSessionInfo` which has `session` and `context` inside.
If your provider is session scoped, you can inject `ModuleSessionInfo` using Dependency Injection.
Otherwise, you can use `OnRequest` hook to access `ModuleSessionInfo`.

[2019-04-12 07:37] #421 closed

[2019-04-12 07:53] Richard-Choooou commented on #421
i got it, thanks a lot

[2019-04-12 15:07] alx13 commented on #420
For now I fixed it using `Required` and `Pick` type on `QueryResolvers`:
[code]

[2019-04-13 16:21] Richard-Choooou opened #426 "Couldn't find type [schema] in any of the schemas."
Hello, I have one module called "products"
[code]

[code]

and another module called classifications

[code]

[code]

Now, I try to use 'classification' schema in the products module, then got the error when I running
[code]

How can I fix it? thanks.

[2019-04-14 09:14] dancon opened #427 "Can't integrate with ApolloServer via `modules`"
[code]

I try to user code above to integrate with ApolloServer, but compiled by ts return a error like below:

[code]

[2019-04-14 12:05] alx13 commented on #420
Actually it's related to dotansimha/graphql-code-generator#1133
So may be just mention in docs that `useIndexSignature: true` should be included in `codegen.yml`:

[code]

[2019-04-14 15:59] eiddie commented on #427
`AppModule` should be `GraphQLSchemaModule` instead of  `GraphQLModule`

[2019-04-14 16:13] eiddie commented on #426
try `extend  type` to avoid [circular imports hell](https://medium.com/the-guild/manage-circular-imports-hell-with-graphql-modules-4b1611dee781)

[2019-04-14 16:25] ardatan commented on #427
@dancon I think the problem is related to TypeScript typings, so you can use `any` for workaround until we fix it;
[code]

[2019-04-15 02:11] dancon commented on #427
@ardatan 👌

[2019-04-15 13:55] Richard-Choooou commented on #426
@eiddie  I think products and classifications merge to one schema will be a great solution. thanks a lot

[2019-04-15 13:55] #426 closed

[2019-04-17 14:59] alx13 opened #431 "Broken subscriptions in 0.7.0"
I was trying to get Subscriptions working in 0.7.0, but unfortunately this Promise is never resolved:
https://github.com/Urigo/graphql-modules/blob/master/packages/core/src/graphql-module.ts#L586

So when client is trying to subscribe as
[code]
TestProvider is not instantiated and `onConnect` hook is never called on backend. (not getting console.log neither `'on construct'` nor  `'on connect'`)

V

[2019-04-17 16:58] ardatan commented on #431
Hi @alx13
Could you try with these canary versions;
[code]

[2019-04-17 19:51] alx13 commented on #431
Hi @ardatan it's working in canary :)

[2019-04-18 15:32] argosystem-dev commented on #326
I have a similar problem. I used resolversComposition as a workaround for now..
the auth/acl is a bit less complicated, because I plan to set the required permission in the schema and check against the permissions in context (context.auth.permissions: string[])
with `query.graphql` schema in my user module I had
[code]

and I had to
`import { resolversComposition } from '@modules/auth/resolversCom

[2019-04-19 11:15] Richard-Choooou commented on #426
finally, I resolver the problem with this way

[code]

products.graphql
[code]
classifications.graphql
[code]

look at the first line, there are import other schemas into the current schema.

more details see [https://github.com/prisma/graphql-import](https://github.com/prisma/graphql-import)

[2019-04-21 12:23] dotansimha commented on #426
@Richard-Choooou If you are using GraphQL-Modules,  I'm not sure why you need to use `graphql-import`, only for the import syntax?
Because graphql-modules already merges types it automatically, and the codegen can just read your entire schema with a glob expression (`src/**/*.graphql`) and merge it automatically.

[2019-04-21 21:57] argosystem-dev opened #435 "mistakes on "Test Your Module" documentation page"
not sure if this will be fixed in https://github.com/Urigo/graphql-modules/issues/163, but there is a bug on https://graphql-modules.com/docs/introduction/test-your-module.

`import 'reflect-metadata'` is missing at the top of the `tests/user.module.spec.ts` file example (and/or `user.module.ts` - not sure about that)

Also the Provider is called `UsersProviders` in the module and `UserProvider` i

[2019-04-22 09:37] dancon opened #436 "how to use `extend` when I separate schema into pieces"
The code like below:

`animal.graphql`

[code]

`bird.graphql`

[code]

`bird.module`

[code]

when i run my server, I get error like below:

[code]

[2019-04-22 11:54] argosystem-dev commented on #435
I learned that
`import 'reflect-metadata'` can be placed in my app.ts or index.ts...

[2019-04-22 11:54] #435 closed

[2019-04-22 16:05] ScreamZ opened #437 "production config"
Hello,

I see that you recommend using .gql files,

In production I wish to use nodeJS with compiled files from ts instead of ts-node.
But .gql files are not copied, what do you recommend to run in production ? in order to use .gql files and be ready ?

Regars

[2019-04-23 11:50] OLDIN commented on #437
Hi. I have the same problem.
How to solve this, can an example configuration for production ?!
Thanks you.

[2019-04-23 20:10] ardatan commented on #437
You can use typescript files for gql definitions or copy the same files to your JS output folder.

[2019-04-23 20:10] #437 closed

[2019-04-23 20:16] ScreamZ commented on #437
I'll take time to write and share a good webpack config for such… I won't migrate for now because this is too complex… Thanks

[2019-04-23 20:57] JeromeBu opened #439 "Can't find getFieldsWithDirectives in @graphql-modules/utils"
I am trying to implement authentication with graphql-modules following this post : https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2

I am not able to import get the fields with directives with following function:
[code]

It seems the utils module has been moved but I can't find where...

[2019-04-24 06:29] Richard-Choooou commented on #426
@dotansimha I try to use the 'extend type', but it's not useful. The official documentation doesn't tell me how to get a schema in another graphql files. And I must use 'graphql-import' to import a graphql file in typescript project, if not they will throw an error. Cause graphql files content aren't javascript code snippet. My English is not good, hope you understand these words.

[2019-04-24 08:08] GiddeonWyeth opened #441 "resolversComposition next is not a function"
I'm having a problem with middleware that is passed to resolversComposition.
Call of `next` function in middleware end with error `next is not a function`
[code]

[2019-04-24 17:05] ardatan commented on #439
@JeromeBu Could you try to use `graphql-toolkit`? It's supposed to have that method.
@dotansimha I think the blog post should be updated.

[2019-04-24 17:18] ardatan commented on #436
Must be fixed in `graphql-import-node@0.0.3`

[2019-04-24 17:18] #436 closed

[2019-04-25 20:42] JeromeBu commented on #439
@ardatan I believe that there was an export missing in the utils index in `graphql-toolkit`, I just made a PR to fix it : https://github.com/ardatan/graphql-toolkit/pull/90/files

[2019-04-25 20:53] #439 closed

[2019-04-26 14:20] georgewilde opened #443 "Unable to mock context in tests"
When testing a module it is not possible to mock out the context or the providers of imported modules. This causes an issue when the module under test imports other modules that add to the context by making API calls or other side effects.

Here is an example of this:

_example.module.ts_
[code]

_example.module.spec.ts_
[code]

_another.module.ts_
[code]

In this example, ExampleModule gets "toke

[2019-05-04 19:08] ardatan commented on #431
Fixed in 0.7.1

[2019-05-04 19:08] #431 closed

[2019-05-08 11:41] nsattler opened #453 "Directives getting removed from the module schema"
Using directives and enums in modules lead to
`GraphQL-Modules Error: Schema is not valid` with reason `Unknown directive "XXX"`

_The directives stopped working after upgrading from version **`0.6.5`**_

While the following is working (the base for the example is taken from the unit tests):

[code]

As soon as I introduce an enum it stops working:

[code]

The output is then

[code]

A little bit

[2019-05-09 07:23] angaziz commented on #378
Hi @5amfung, do you have any obstacle when using graphql-modules on your non-typescript project?

[2019-05-10 08:25] Myrannas opened #455 "Incorrect error message if factory in child injector fails to resolve dependency"
If a factory provider in a child injector fails the error message points to the incorrect dependency.

Minimal reproducible example:

[code]

This results in the following error:
[code]

The actual error should be that it was not possible to inject the #Symbol(UnsatisfiedDependency) into #ChildService - something like:

[code]

Replacing the factory with a class seems to work correctly.

[2019-05-10 08:28] Myrannas commented on #455
I am pretty sure the problem is on https://github.com/Urigo/graphql-modules/blob/master/packages/di/src/injector.ts#L235

In particular - the `ChildInjector` throws a `ServiceIdentifierNotFoundError`, which causes the module to be skipped over. As such the error returned to the user is for the wrong class.

[2019-05-12 06:03] MANTENN commented on #183
Why is it closed? I am on `0.7.0` and its still required, I use a monorepo with typescript

[2019-05-14 04:27] derek-fong opened #459 "Providers' onInit() Hook Is Not Called on App Start"
According to the [OnInit Hook docs](https://graphql-modules.com/docs/introduction/dependency-injection#oninit-hook):

However, I noticed the `OnInit` hook won't be called on app start. In fact, it's not being called until the provider (which implements `OnInit`) is injected and executed in resolver(s).

I was trying to execute some app init tasks with the help of `OnInit` hook, but unfortunately t

[2019-05-14 04:30] ardatan commented on #455
Could you try it with the following canary version?
[code]

[2019-05-15 01:28] andreyvital opened #463 "TypeError: Cannot read property 'session' of undefined"
I'm getting this:

[code]

All I have done is define a `__resolveType` in one of my interfaces. Thoughts?

[2019-05-15 01:37] ardatan commented on #463
Hi @andreyvital
Could you reproduce a repo?

[2019-05-15 04:16] Myrannas commented on #455
Thanks for looking at this so quickly :)!

I think the error message is still not quite correct  - in particular it is reporting the wrong provider as being injected into. I have re-run against my test project and get:

[code]

In particular:
`Provider #Symbol(UnsatisfiedDependency) couldn't be injected into Provider #ParentService`
should probably be:
`Provider #Symbol(UnsatisfiedDependency) coul

[2019-05-16 15:57] alx13 opened #472 "Can't use array arguments in directives"
Hi,
I was trying to set field authentication with directives,
but there is a bug in epoxy ardatan/graphql-toolkit/issues/100

Is it possible somehow to overcome that bug?

[2019-05-17 09:41] dotansimha commented on #441
Hi @GiddeonWyeth ,
Sorry for the delay. I managed to reproduce it, and it should work now with `0.7.2`.

[2019-05-17 09:41] #441 closed

[2019-05-18 11:39] markspolakovs opened #473 "Eager loading providers?"
I'm setting up a system for Relay-like generation of global IDs. The approach I've taken is to have a `GlobalIDProvider` where all my module providers register themselves in the constructor, which is then responsible for handing out global IDs.

Example:
[code]
[code]

[code]

and then I can use these global IDs in queries:
[code]

The problem I'm running into is that graphql-modules only loads a

[2019-05-21 08:04] bugstamp opened #474 "Error: "acc is not a function""
I use graphql-modules with plain JS, apollo server and express. For subscriptions i use "subscriptions-transport-ws" package both on the client and the server. And when i'm pushing subscriptions object from app module to the SubcriptionServer, i get the "TypeError: acc is not a function at importsOnOperationCompleteHooks.reduce (@graphql-modules\core\src\graphql-module.ts:654:50)" error after each

[2019-05-21 13:41] ardatan commented on #474
Could you try it with the following canary version?
[code]

[2019-05-21 18:40] bugstamp commented on #474
Thanks for prompt reply.

Yes, it's working with canary version. No errors anymore, but onOperation/onOperationComplete hooks don't work in the provider. onInit/onRequest/onConnect/onDisconnect ones work well.
As far as i have noticed they must be available from 0.7.0 version.
Could you help me out with this?

[2019-05-22 14:09] joemckie commented on #183
@ardatan I'm also having the same issue with `@graphql-modules/di 0.7.2`

[2019-05-22 20:18] ardatan commented on #183
If you're using `di` package, it will be required. That's not an issue.

[2019-05-22 21:20] joemckie commented on #183
@ardtan then it should be a dependency of the `di` package, no?

[2019-05-23 00:08] ardatan commented on #183
@joemckie It is already in `peerDependencies`.
https://github.com/Urigo/graphql-modules/blob/a03f69f9669313c56bc96acd2aa149fcf7f7b2fa/packages/di/package.json#L14

[2019-05-23 00:16] ardatan commented on #459
@derek-fong
`onInit` is getting called on construction of injector (lazy). I will take a look at it but for now you can do this workaround for now;
[code]

[2019-05-23 00:17] ardatan commented on #473
If you'd like to call something on application startup, you can use `onInit` lifecycle hook.
https://graphql-modules.com/docs/introduction/dependency-injection#oninit-hook

[2019-05-23 07:24] joemckie commented on #183
@ardatan ah must have missed that, thanks for that 👌

[2019-05-25 23:18] agustif commented on #163
As I am trying to understand further graphql-modules and it's ecosystem, I would love to tackle this.

Whare are you missing specifically, a test coverage of the packages itself, or tests in the example repos?

I would love any direction/feedback on how to tackle this, I do see there's virtually no test suite for the package itself, is there something where help or PR might be nice? maybe along so

[2019-05-26 01:23] ardatan commented on #474
@bugstamp Could you try it with that version?
0.8.0-alpha.9f6edd2a

[2019-05-26 11:20] bugstamp commented on #474
Yes, it works.

[2019-05-30 09:53] eiddie opened #484 "Custom scalar "Date" defined in resolvers, but not in schema"
schema
[code]
resolvers:
[code]
- @graphql-modules/core": "^0.7.2
- graphql-import-node": "^0.0.4"

Error:
      GraphQL-Modules Error: Schema is not valid!
      - #Module #app.module.ts_8308322484010483 doesn't have a valid schema!
      -- "Date" defined in resolvers, but not in schema

[2019-06-06 07:49] kfrajtak commented on #396
I like the concept of modules, but the dependency injection is quite complicated and not well documented.

[2019-06-06 10:14] authentik8 commented on #441
I've also been experiencing this issue in 0.7.5, specifically when attempting to use a directive defined in one module in an other - can file a separate issue if required?

[2019-06-06 11:12] Urigo commented on #441
@authentik8 do you think it might be the same issue as https://github.com/Urigo/graphql-modules/issues/472 and https://github.com/ardatan/graphql-toolkit/issues/100 ?

[2019-06-07 12:54] jacob-lester opened #496 "Integration with Apollo Federation"
I can't figure out how to initialize the ApolloServer schema using `buildFederatedSchema()` from `@apollo/federation`. (Read more about Apollo Federation [here](https://www.apollographql.com/docs/apollo-server/federation/introduction/))

My `AppModule` (`GraphQLModule`) has `typeDefs` and `resolvers` fields, but the resolvers type, `IResolvers` does not match the expected `GraphQLResolverMap` type

[2019-06-07 12:59] kamilkisiela commented on #453
Test https://github.com/Urigo/graphql-modules/pull/497

[2019-06-07 13:19] authentik8 commented on #441
I'm not sure - I'm not getting OOM errors, rather just error messages returned to the client instead. I've also tried variants of directive definitions with both single parameters as well as array arguments, both return the same error.

[2019-06-07 13:38] authentik8 commented on #441
Just figured out what was going wrong:

I had defined a `roles` directive and was using it as a guard on a type like the below:

[code]
I had been relying on the default GraphQL resolution path of attribute lookup, and therefore hadn't defined an `email` resolver - adding logic along the lines of the below fixed the error:
[code]

Presumably if there are no resolvers other than directives in the p

[2019-06-09 08:36] #484 closed

[2019-06-09 08:43] eiddie commented on #484
oh, it's not `graphql-modules` error

i figured out, scalar and custom type must match, resolvers should be:
[code]

[2019-06-10 12:45] jacob-lester commented on #496
I got the resolvers to work by passing in `AppModule.resolvers as any`. However, now I am getting `Unknown directive "key"` error when I try to implement federation. This comes after adding the `@key (fields: "id")` directive in my `.graphql` file.

[2019-06-10 12:59] #473 closed

[2019-06-13 06:12] dancon commented on #326
I hava the same issue:

// user resolvers.ts

[code]

[2019-06-13 06:46] dancon opened #505 "Custom context property is lost when using resolversComposition"
You can reproduce the problem with the repo <https://github.com/dancon/apollo-server_graphql-modules_subscriptions>

in the `src/index.ts`

[code]

debug with vscode

`src/middleware/authentication.ts`
![image](https://user-images.githubusercontent.com/6836599/59409794-b0865200-8de9-11e9-8eba-847679b0457f.png)

`src/schemas/user/resolvers.ts`
![image](https://user-images.githubusercontent.com/6836

[2019-06-13 22:20] ardatan commented on #326
This is not a problem, your composition belongs to the module that has context while resolver itself belongs to another module that don't have that context. I recommend you to move composition and context to `user` module.

[2019-06-13 22:21] ardatan commented on #505
This is not an issue, your composition belongs to the module that has context while resolver itself belongs to another module that don't have that context. I recommend you to move composition and context to `user` module.

[2019-06-13 22:21] #505 closed

[2019-06-16 05:44] dancon commented on #505
@ardatan I got it ~ thank you！But I wonder whether is there a way to make it accessible to all the modules that import to `root module`. Like a global context settings,  I think it is very superfluous to import an authentication module to every submodules. Maybe there are some modules do not need authentication, but you can do nothing with that, I hope GraphQL Modules can support the feature ~

[2019-06-16 05:49] dancon commented on #326
@ardatan  got it, thx ~

[2019-06-17 16:37] OmarAlashqar opened #509 "Generating modules from existing graphql schema"
I'm trying to figure out how to initialize a module from an existing schema generated using the [graphql](https://www.npmjs.com/package/graphql) package. Below is what I've tried, which works partially.

The queries and subscriptions got merged, and I got them to work by passing in the module's schema and subscriptions separately into ApolloServer.

[code]

My issue now is that the mutations don't

[2019-06-18 15:09] OmarAlashqar commented on #509
lmao i fixed it, and it's the dumbest thing in the world. Posting the solution here in case anyone runs into this in the future.

First of all, there is a better way of merging the schema:

[code]

The issue I was having was due to a conflict in the naming of the root level fields, specifically the naming of the Mutation field. In my code, I had it defined as:
[code]

[2019-06-18 15:11] #509 closed

[2019-06-20 13:28] edorivai opened #511 "Dataloader docs should mention per-request caching"
As [mentioned in the official dataloader](https://github.com/graphql/dataloader#caching-per-request) docs, the most common use case for dataloader is to only utilize a cache-per-request. The [current docs](https://graphql-modules.com/docs/recipes/data-loader) implement a setup where items are cached indefinitely.

While not necessarily wrong, this could be a footgun, especially for less experience

[2019-06-20 19:16] ardatan commented on #511
You're right, we should suggest you to use dataloaders as session-scope provider to have the exact behavior like in DataLoader's official docs like below;
[code]

[2019-06-20 19:31] #511 closed

[2019-06-21 22:52] NickBronze opened #518 "Would 'DB Connection Pooling' be the best use in this situation?"
I recently found this module and really want to integrate it into my existing applications. I have reached a point where I have all my modules ready with dummy data, but now I'm not sure how to proceed in loading from my database. My applications currently specify MongoDB models and then use the helper functions (.findOne, etc.) from mongoose. I've also decided to move over to typescript, so I'm n

[2019-06-24 05:05] #420 closed

[2019-06-24 05:14] ardatan commented on #326
@alfaproject What do you pass as a context builder to your server config?

[2019-06-24 05:18] ardatan commented on #443
@georgewilde
Could you try the following code for mocking with this version `0.8.0-alpha.82bbc778`?
[code]

[2019-06-24 06:04] alfaproject commented on #326
I'm no longer using `graphql-modules` because it increased the size of my bundled lambdas by more than 1mb, so I can't show any real code right now, but it used to be a small async function to decode a jwt and set the `userId` so that I could then fetch the ACL setup for the user.

[2019-06-26 15:17] ardatan commented on #518
I just added an example with MongoDB there in docs; https://graphql-modules.com/docs/recipes/db-connection-pooling
And you can also check my fork that uses MongoDB;
https://github.com/ardatan/WhatsApp-Clone-Server-Mongo

[2019-06-26 15:17] #518 closed

[2019-06-27 04:03] travigd opened #525 "Async Provider Initialization"
Is there a way to do initialization of providers that involves asynchronous steps?

I want to do something like connect to the database in the provider and don't want the provider to be accessible before it's fully initialized. It's not that hard to make lazy (just make the `getDB` method memoized and async) but it'd still be nice to have the option to wait for the provider to initialize (especial

[2019-06-27 06:49] #326 closed

[2019-06-27 16:23] ardatan commented on #463
I am closing this issue due to inactivity. Feel free to open a new one if the problem persists.

[2019-06-27 16:24] #463 closed

[2019-06-27 17:56] ardatan commented on #525
We don't have async providers yet, because our DI is sync, not promise-based but you can do something like below;
[code]

Let's keep this open until we have proper solution.

[2019-06-27 18:25] ardatan commented on #326
@alfaproject Sorry to hear that.
Which bundler were you using, and what was the version when you stopped using graphql-modules?

[2019-06-27 19:58] alfaproject commented on #326
I'm using webpack and I stopped using when this was released: https://github.com/Urigo/graphql-modules/issues/322

(because it didn't shake away TypeScript because it was (is?) a transitive dependency of `graphql-toolkit` / `graphql-tag-pluck`)

[2019-06-27 22:48] ardatan commented on #326
I see but we fixed it since 0.6.2. And you can see the comparison and current bundle size
from here;
https://bundlephobia.com/result?p=@graphql-modules/core@0.7.5
![](https://files.slack.com/files-pri/TAYJ1FSUA-FKY72EGSG/image.png)
![image](https://user-images.githubusercontent.com/20847995/60305885-29b69680-990c-11e9-9aef-2b0ac383ec86.png)

[2019-06-28 05:47] alfaproject commented on #326
That's much better but I think some of your transitive dependencies use `commonjs` like the ones that import TypeScript which is more than 50% of the impact of adding this module.

I'd like to try this again and I'm happy you guys are aware of size tracking now, which is more than I can say about other authors.

If I try again, I'll create specific issues or PRs to help you get a minimal bundle wi

[2019-07-01 13:04] Urigo commented on #209
as now there is a new major version of Prisma, I'll close this one for now and we are happy to take PRs on demonstrating how to integrate GraphQL Modules and Prisma 2.0

[2019-07-01 13:04] #209 closed

[2019-07-01 13:06] Urigo commented on #163
We have a testing section here: https://graphql-modules.com/docs/introduction/test-your-module

If you want to add things, open a new issue

[2019-07-01 13:06] #163 closed

[2019-07-01 13:20] ardatan commented on #459
@derek-fong Could I know your use case for onInit?

[2019-07-02 00:40] ardatan commented on #496
Fixed in 0.7.6!

[2019-07-02 00:40] #496 closed

[2019-07-02 00:40] ardatan commented on #474
Fixed in 0.7.6!

[2019-07-02 00:40] #474 closed

[2019-07-02 00:41] ardatan commented on #455
Fixed in 0.7.6!

[2019-07-02 00:41] #455 closed

[2019-07-02 00:41] ardatan commented on #453
Fixed in 0.7.6!

[2019-07-02 00:41] #453 closed

[2019-07-02 00:41] ardatan commented on #443
Fixed in 0.7.6!

[2019-07-02 00:41] #443 closed

[2019-07-02 00:41] ardatan commented on #399
Fixed in 0.7.6!

[2019-07-02 00:41] #399 closed

[2019-07-02 00:41] ardatan commented on #427
Fixed in 0.7.6!

[2019-07-02 00:41] #427 closed

[2019-07-02 00:41] ardatan commented on #472
Fixed in 0.7.6!

[2019-07-02 00:41] #472 closed

[2019-07-02 00:42] ardatan commented on #325
Added in 0.7.6!

[2019-07-02 00:42] #325 closed

[2019-07-02 00:42] ardatan commented on #293
Added both in 0.7.6!

[2019-07-02 00:42] #293 closed

[2019-07-02 00:52] #182 closed

[2019-07-02 00:53] ardatan commented on #347
Now we have `mock` method to mock all parts of module since 0.7.6

[2019-07-02 00:53] #347 closed

[2019-07-02 06:51] nshaikhinurov opened #536 "Mock context separately from session/info"
Resolvers take 4 arguments: `rootValue`, `args`, `context`, `info`. I want to mock a network session which is normally in `info.session` but does not exist in Jest env. My resolver logs out a user, thus manipulates the session. The authenticated user object itself is retrieved from `context` third parameter. The problem is that I can't mock context and session separately from each other somehow li

[2019-07-02 07:14] ardatan commented on #536
You can mock context like below;
[code]
[code]

[2019-07-02 07:23] nshaikhinurov commented on #536
Already tried exactly this, that worked, but now i have `[[GraphQLError: Cannot read property 'callHookWithArgsAsync' of undefined]]` for uknown reason.

[2019-07-02 07:33] nshaikhinurov commented on #536
Seems like the injector is dropped from context this way and that causes an error

[2019-07-02 08:15] nshaikhinurov commented on #536
As a workaroud I placed my session in a `context` too, together with a user object on an authentication phase and now i do not need the `info` argument at all. Anyway thank you @ardatan for helping 👍

[2019-07-02 08:17] ardatan commented on #536
I will work on fixing it :)
Maybe you can try to pass app injector like below until we fix it;
[code]

[2019-07-02 20:54] #525 closed

[2019-07-02 20:57] ardatan commented on #396
@raulingg If you want to access configuration of the module, you have to inject it like in the documentation;
https://graphql-modules.com/docs/introduction/configuration

Could you explain more why you think DI is complicated? What would you like to see in documentation?

[2019-07-02 20:57] #396 closed

[2019-07-02 20:58] ardatan commented on #459
I am closing this issue for now. If you have any further questions and persisting problems, please feel free to open a new issue.

[2019-07-02 20:58] #459 closed

[2019-07-02 20:59] ardatan commented on #525
The internal logic of DI is sync and I think we must leave this like that because instantation of the classes and constructors are sync in JavaScript.

[2019-07-02 23:28] travigd commented on #525
I think this issue to be re-opened.

`onInit` does not need to be sync (it can return a promise). There's currently no way to eager-load providers which means that there's no way to fail fast.

For example, if the database can't be connected to, we should fail on initialization and not when we try to make the first query. There's also no way to throw an error that propagates up so I'm forced to `p

[2019-07-03 07:32] kfrajtak commented on #396
For example the error message

What is `#Object`? Which of the dependencies failed to be resolved? I would like to see more examples and troubleshooting.

[2019-07-03 07:53] ardatan commented on #396
The error points that something is wrong in terms of DI usage in `UsersProvider`. `UsersProvider` has only one argument in the constructor. `dbConfig: any`. `any` means `Object` in TypeScript, so TS reflects `dbConfig`'s type as `Object`, so DI tries to inject a provider that is provided as `Object`. But there is no provider like that.
For example, if you try to inject another provider(injection t

[2019-07-03 08:54] kfrajtak commented on #396
Thank you.

[2019-07-04 00:09] ardatan commented on #441
@authentik8 Could you create a repo that reproduces this issue?

[2019-07-04 00:15] ardatan commented on #525
If you use promises in onInit, you're right; because injector is created sync(so schema by default like other schema stitching alternatives) , not async. But http requests and context generation is async. That's why, onRequest, onResponse and onConnect etc are async while onInit is sync. You can connect your database outside of GraphQL Modules' DI then pass it using Module Configuration. But if yo

[2019-07-04 01:59] travigd commented on #525
That's true but it definitely feels like something that should be supported in a first-class way, and having to extract out all of the async-init providers at the top level defeats some of the purpose of having separate modules.

[2019-07-04 05:18] authentik8 commented on #441
Sure, give me a couple of hours

[2019-07-08 10:54] Javaman44 opened #550 "Unable to inject ModuleConfig without using name in 0.7.7"
I was unable to inject module-configuration using last version/documentation (see: https://graphql-modules.com/docs/introduction/configuration)

[code]

Module call:
[code]

Module définition
[code]

And provider:
[code]

When i using ```ModuleConfig( module => UserModule) ``` insteed  ```ModuleConfig('user-module')) ``` an exception occured:
[code]

Regards

[2019-07-08 15:05] ardatan commented on #550
You should do `@Inject(ModuleConfig(module => MyModule)` not `@Inject(ModuleConfig(MyModule)`.

[2019-07-09 12:12] jacob-lester commented on #496
I still am getting the same error upon upgrading to 0.7.7
[code]

Also, the example [apollo federation project](https://github.com/Urigo/graphql-modules/tree/master/examples/apollo-federation) seems to have the same issue.

[2019-07-11 10:28] nshaikhinurov opened #557 "Testing Subscriptions. Help needed. May be a bug."
`"@graphql-modules/core": "^0.6.6"`

I'm trying to test my module with subscription resolvers using Jest. When I publish data to pubsub from inside the module everything works ok. But when I do that from outside the module my test is passing only when I call `asyncIterator.next()` 2 times. That line is commented out before `ee.emit` in the second failing test. And I get a `Timeout - Async callback

[2019-07-11 15:27] jacob-lester opened #558 "Apollo Federation Example"
The [example code](https://github.com/Urigo/graphql-modules/tree/master/examples/apollo-federation) for Apollo Federation integration is throwing this error:

[code]

https://github.com/Urigo/graphql-modules/issues/496 says it was fixed in 0.7.6 however I can't get the code to run (also tried 0.7.7 as well).

[2019-07-16 06:22] ardatan commented on #557
I think event listener `emit` is waiting for `on` listener in sync. So you should wrap it in an async setTimeout like below;
[code]

[2019-07-16 07:29] ardatan commented on #558
It works for me. Do you use exactly same project or modified one?

[2019-07-16 11:07] jacob-lester commented on #558
Using the example project code directly.

[2019-07-16 20:33] ardatan commented on #558
I wasn't sure because of the error. As you can see there is no `modules/app.module.ts` in Apollo Federation example.

[2019-07-16 20:47] ardatan commented on #536
Could you try with the following version?
[code]

[2019-07-16 20:57] ardatan commented on #550
I think it is related to circular imports so could you try to inject like below with the following version;
`@Inject(ModuleConfig) private config: UserModuleConfig`
`0.7.8-alpha-ce9645b.27+ce9645b`

[2019-07-16 20:59] ardatan commented on #557
I'm closing this issue now, if the problem still persists feel free to open a new issue.

[2019-07-16 20:59] #557 closed

[2019-07-17 00:52] jacob-lester commented on #558
Oh, sorry about that. I copied the error message from my own implementation discussed in another issue. Anyway, the error is still the same.

[2019-07-17 07:00] ardatan commented on #558
Could you share a reproduction repo of your implementation?

[2019-07-18 15:06] jacob-lester commented on #558
I still get the same error with the example project. Do you just run with `yarn start-servers` and `yarn start-gateway`

[2019-07-18 15:26] jacob-lester commented on #558
[code]

[2019-07-19 00:08] ardatan commented on #558
Could you try the following versions?
[code]

[2019-07-19 11:35] jacob-lester commented on #558
Updating core worked! Also, now working in my own project implementation.

[2019-07-21 16:45] ardatan commented on #558
Fixed in 0.7.8!

[2019-07-21 16:45] #558 closed

[2019-07-21 16:45] ardatan commented on #550
Fixed in 0.7.8!

[2019-07-21 16:45] #550 closed

[2019-07-21 16:45] ardatan commented on #536
Fixed in 0.7.8!

[2019-07-21 16:45] #536 closed

[2019-07-22 11:42] shipraguptaa opened #575 "Unable to inject multiple providers for testing the module"
I want to overwrite multiple providers to test the module but then I get error:
[code]

[2019-07-23 00:14] savovs opened #578 "Properly typing resolvers"
Hey y'all, love this package. I'm trying to figure out how to type my resolvers using codegen but I'm getting this error:

[code]

Here's what I'm doing:
**codegen.yml**
[code]

**user.resolvers.ts**
[code]

**user.module.ts**
[code]

It works if I do `resolvers: any` but that kinda defeats the purpose of having the types in the first place.

Here's a reproduction branch of the repo: https://githu

[2019-07-23 23:08] wtrocki opened #582 "[Question] Contributing to website"
Does website `npm run start` work for you?
Getting this error (most likely doing something wrong)

[code]

[2019-07-23 23:09] wtrocki commented on #582
Ok. `build:api-docs` needed to be triggered. Ignore this!

[2019-07-23 23:09] #582 closed

[2019-07-24 02:57] veerjainATgmail opened #583 "(Question) Any recommendations on subscriptions with federation?"
Hi,

Thanks for the apollo federation usage example.
What is your recommendation on the usage of subscriptions?, While gateway is used for Query and Mutation?

Thanks,
MJ

[2019-07-29 13:36] cobraz opened #590 "Issues with type-graphql"
Hello 👋

Thank you for this awesome project. I'm testing `type-graphql` with `graphql-modules` and I'm having issues. Not exactly sure whether it's `type-graphql` or `graphql-modules` causing this, but it seems to me that the `context` (that includes `injector`) is not being passed to `type-graphql`.

I've implemented in accordance with the [recipe](https://graphql-modules.com/docs/recipes/type-gr

[2019-07-29 13:40] cobraz opened #591 "Apollo recipe not working"
Hello 👋

I'm testing `apollo-server` and having issues with the recipe that is provided in the documentation. Schema is provided as expected, but resolvers seem to not be executed.

The implementation I'm using is in accordance with this [recipe](https://graphql-modules.com/docs/recipes/apollo-server).

[2019-07-29 13:41] cobraz commented on #591
Let me know if you need more information or a reproduction repository.

[2019-07-29 13:48] ardatan commented on #590
Could you try the following?
[code]

[2019-07-29 13:52] ardatan commented on #591
It'd better to see a reproduction and error.
You can check the following example;
https://github.com/Urigo/graphql-modules/tree/master/examples/apollo-modules

[2019-07-29 13:52] cobraz commented on #590
I can't access that repository you referenced. This works 🎉

I have to @ts-ignore a lot to make that work.

[2019-07-29 13:54] cobraz commented on #590
Thanks for the super quick response!
I've got it working 🎉

The example repository you referencing does not exist (at least for me).

[2019-07-29 13:59] #590 closed

[2019-07-30 08:47] ardatan commented on #583
GraphQL Modules does schema merging in this case while client server data exchange is done by Apollo. I think you should look for Apollo Federation documentation for more information.

[2019-07-30 08:47] #583 closed

[2019-07-30 12:33] shipraguptaa commented on #575
@ardatan  can you help with this issue. Let me know if you need any information.

[2019-07-30 13:10] Urigo commented on #591
@cobraz can you please create a reproduction?

[2019-07-30 16:46] kamilkisiela commented on #578
@savovs

#597

https://github.com/savovs/ts-gql/pull/1

[2019-07-30 19:05] kamilkisiela commented on #575
@shipraguptaa Are `OrgProvider`, `LoginProvider` and `SettingsProvider` providers part of one GraphQL Module or they are defined in multiple places?

Is it something like this?
[code]

[2019-07-30 19:18] cobraz commented on #591
Yes, I will. Probably not until tomorrow, I'm afraid.

[2019-07-31 09:41] kamilkisiela commented on #578
Released the fix in `v0.7.9`

[2019-07-31 09:42] #578 closed

[2019-07-31 15:56] kckst8 commented on #591
Same here. typeDefs appear to load properly, but resolvers are not executing (using with fastify):

`const { gql } = require("apollo-server-fastify");
const { GraphQLModule } = require("@graphql-modules/core");

const typeDefs = gql`
  "OIDC user"
  type User {
    "the user's email address"
    email: String
    "the user's last name"
    family_name: String
    "the user's first name"
    given_

[2019-07-31 16:16] kckst8 commented on #591
In my case, when using with apollo-server and fastify, the resolvers are executing, but the context is not being passed:

`const typeDefs = gql`
  "OIDC user"
  type User {
    "the user's email address"
    email: String
    "the user's last name"
    family_name: String
    "the user's first name"
    given_name: String
    iss: String
    client_id: String
    org_name: String
  }

  "should be

[2019-07-31 20:42] ardatan commented on #591
@kckst8 Your case is different. Context is handled by GraphQL Modules internally. If you want to have context inside GraphQL Modules. You can use `context` build of GraphQL Modules like below;
[code]

[2019-08-01 07:47] kesslerdev opened #600 "Use class metadata with provide using object"
the [injector.provide method](https://github.com/Urigo/graphql-modules/blob/master/packages/di/src/injector.ts#L74), dont use class metadata if argument is an object with `provide`, it should merge class metadata options in order to respect `@Injectable` provided options

example:
[code]

[code]

with this code the provider `myprovider` are in `ProviderScope.Application` not `ProviderScope.Session

[2019-08-01 08:09] shipraguptaa commented on #575
@kamilkisiela They are defined in different modules and imported in shellInitModule like
const graphQLModule = new GraphQLModule({
  typeDefs,
  resolvers,
  providers: [OrgProvider, LoginProvider, SettingsProvider],
  imports: [commonModule, imsModule, loginModule, settingsModule],
});

then finally all these modules including  shellInitModule are loaded in parent index.js as one graphql module :

[2019-08-01 10:33] kamilkisiela commented on #575
@shipraguptaa why do you define `OrgProvider` and the rest twice? Once in `providers: []` of main graphql module and once in `settingsModule`?

[2019-08-02 10:08] shipraguptaa commented on #575
I have defined provider(lets say "OrgProvider") twice- once in the module where it belongs(lets say module "settingsModule") and second time in the module("shellInitModule") which uses "OrgProvider".
Now "shellInitModule" has multiple providers, some belongs to it and some are imported from other modules(dependency injection) to resolve fields.

My problem here is if I have to write test cases for

[2019-08-03 14:56] cobraz commented on #591
Hello. Still having mostly summer vacation, so things are taking longer than usual!

[2019-08-05 04:46] ardatan commented on #600
You can use the following canary version;
[code]

[2019-08-05 05:49] ardatan commented on #575
@shipraguptaa Could you share more specific repo or something like that to get on the same page?

[2019-08-10 19:59] vladinator1000 opened #619 "Unions not working"
Hey y'all, found a bug. I can't get unions to resolve to other types.
Here's a [reproduction Codesandbox](https://codesandbox.io/s/github/savovs/gql-modules-union/tree/master/?fontsize=14&initialpath=%2Fgraphql&module=%2Fsrc%2Fmodules%2Fconcert%2Fconcert.resolvers.ts) to make your life easy

GitHub: https://github.com/savovs/gql-modules-union/

When I send a query like this one:
[code]

I'm expect

[2019-08-12 05:31] ardatan commented on #619
First, I added tests for resolveType resolver. I think there is a problem about merging schemas inside modules in ApolloServer, because it worked in our tests. I can suggest you to have a single AppModule on top.
https://github.com/Urigo/graphql-modules/pull/621/files
You can see the tests to see how I built the relationship between modules.
Secondly, I reproduced the issue related to `__isTypeOf`

[2019-08-14 16:18] szuercher opened #624 "Injection Hook without TypeScript"
Can anyone give me an example how to inject a Hook without TypeScript. For example "OnConnect".

[2019-08-15 05:29] ardatan commented on #624
`OnConnect` is an interface just to help you for the signature of `onConnect` method inside a provider. So in your provider, you can add a method called `onConnect` and use it. There is no need to add `implements OnConnect`. It doesn't have any effect for runtime.
[code]

[2019-08-15 05:29] #624 closed

[2019-08-15 10:00] marvinroger opened #628 "Custom scalars don't run when using apollo-server `modules`"
Hi,

You might want to see this: https://github.com/apollographql/apollo-server/issues/2218

My custom scalars did not run at all when using apollo-server, because I was following this: https://graphql-modules.com/docs/recipes/apollo-server, thus encountering the issue I linked above.

The solution was simple, instead of using apollo-server modules:

[code]

Simply use the executable schema:

[cod

[2019-08-15 12:10] ardatan commented on #628
Yes, you are right. We should update documentation until  it gets fixed.

[2019-08-16 03:47] thearabbit opened #631 "Could example to use `@Injectable()` with js?"
I base on `Meteor, Vue, Apollo` (JavaScript).
Could example to use `@Injectable()` in .js file?
[code]

[2019-08-16 06:12] ardatan commented on #631
Meteor supports `.babelrc`, so you can try
https://babeljs.io/docs/en/babel-plugin-proposal-decorators

[2019-08-16 06:12] #631 closed

[2019-08-16 07:37] thearabbit commented on #631
Very thanks, I will try 💯

[2019-08-16 21:00] cobraz commented on #591
Hello 👋!

Finally, I've been able to create a reproduction. Find it here:
https://github.com/cobraz/graphql-modules-apollo-typegraphql

[2019-08-20 03:51] ardatan commented on #619
@vladinator1000 What's the current status about this issue?

[2019-08-20 03:53] ardatan commented on #628
Docs are updated!

[2019-08-20 03:53] #628 closed

[2019-08-20 04:09] ardatan commented on #591
@cobraz Thank you for that repo! So there are three problems in that repo;
First for some reason Apollo Modules doesn't work well in the latest version of Apollo Server so we recommend you to pass `schema` instead of `modules` like below;
[code]
And second like in our TypeGraphQL recipe you should pass `container` like below;
[code]
Finally the third one is that Apollo Server needs to be passed al

[2019-08-21 00:24] #619 closed

[2019-08-21 00:24] #591 closed

[2019-08-21 00:28] #600 closed

[2019-08-23 04:10] MANTENN opened #649 "Now CLI"
When I import `@graphql-modules/core` I get this error:
I am using now CLI v. 16.1.2, macOS 10.14.4 (18E226)

[code]

[2019-08-23 04:20] MANTENN commented on #649
I am moved on with `@apollo/federation`, it's basically trying to achieve modularity with microservices.

[2019-08-23 20:12] NikxDa commented on #619
@ardatan `__resolveType` is still not being called for me with version 7.10. Stuck big time with this one. Any fix in sight?

[2019-08-23 21:26] ardatan commented on #619
@NikxDa Try passing top module's schema like below instead of using `modules` property
[code]

[2019-08-23 23:45] NikxDa commented on #619
@ardatan That does the trick, but why does it not work with the `modules` property? Does this solution have any other impacts?

[2019-08-26 13:09] laho commented on #600
Seems to me that this change breaks the dependency injection. When `provide: 'myprovider'` is a string and line 128 of the commit is calling getMetadata on that string, That results a TypeError.

Stack trace:
      at Object.getMetadata (node_modules/reflect-metadata/Reflect.js:354:23)
      at Injector.provide (node_modules/@graphql-modules/di/src/injector.ts:128:61)
      at new Injector (node_m

[2019-08-27 06:48] laho opened #652 "Injector.provide fails with TypeError when using injection tokens"
Injector.provide was changed in release https://github.com/Urigo/graphql-modules/releases/tag/v0.7.10 related to issue #600.

More specifically, this line was changed to read metadata from the provider object:

https://github.com/Urigo/graphql-modules/blob/cefd7c2e5c9c1cac8928b300c6d767c9f34de252/packages/di/src/injector.ts#L128

However, when injection tokens are used this provider.provide is a s

[2019-08-27 08:05] laho commented on #652
Seems to fix the issue. 👍

[2019-08-28 06:45] dotansimha opened #655 "Trying to inject config without `@Inject(ModuleConfig)` shows unclear error"
If `@Inject(ModuleConfig)` is missing, the error is not informative enough.

[code]

I think, maybe we should detect if the required object is not a real object and then let people know that `@Inject` is missing? Because it happens when trying to inject an interface/type using tokens.

[2019-08-31 17:56] ecwyne commented on #649
@Urigo this happened to me as well in production on Zeit Now. Downgrading to `@graphql-modules/core@0.7.7` fixed this for me. Does `new GraphqlModule({})` now try to access the filesystem automatically?

[2019-08-31 18:10] ecwyne commented on #649
Just tested `0.7.9` which worked. Looks like it's something that changed in `0.7.10`

[2019-09-01 22:52] agustif commented on #649
You should probably use both, just for different use cases.

graphql-modules is better to modularize your backend, federation is great for external services/API

[2019-09-02 03:38] zicodeng opened #665 "How to integrate Apollo upload server middleware"
Hi, thanks for creating this awesome library. It changed the way how I modularize my code and enabled me to obtain separation of concerns!

A question on integrating this middleware: https://github.com/maticzav/graphql-middleware-apollo-upload-server? Where would I place it? during `new GraphQLModule` or `new ApolloServer`?

Thanks in advance!

[2019-09-02 05:03] ardatan commented on #665
You should put it in Apollo Server because it is a server middleware, but we recommend you to use this recipe;
https://graphql-modules.com/docs/recipes/file-uploads

[2019-09-02 05:03] #665 closed

[2019-09-02 15:58] zicodeng commented on #665
Awesome, thanks, I will take a look!

[2019-09-03 05:34] ardatan commented on #649
Fixed in 0.7.11!

[2019-09-03 05:34] #649 closed

[2019-09-03 05:34] ardatan commented on #655
Fixed in 0.7.11!

[2019-09-03 05:34] #655 closed

[2019-09-03 05:34] ardatan commented on #652
Fixed in 0.7.11!

[2019-09-03 05:34] #652 closed

[2019-09-06 10:24] maapteh opened #669 "ts error in `graphql-toolkit` when compiling"
i went from 0.4 to 0.7 so maybe i missed something crucial in the upgrade path but somehow my app is not compiling anymore. Example:

`node_modules/@graphql-modules/core/node_modules/graphql-toolkit/dist/esnext/utils/validate-documents.d.ts:7:129 - error TS1005: ',' expected.`

`export declare const validateGraphQlDocuments: (schema: GraphQLSchema, documentFiles: DocumentFile[], effectiveRules?: r

[2019-09-09 14:40] dotansimha commented on #669
Fixed by @kamilkisiela in https://github.com/ardatan/graphql-toolkit/pull/230
Keeping open until we'll release `graphql-toolkit` and then `graphql-modules.

[2019-09-09 17:59] vladinator1000 commented on #421
I would love to see an example of this, I can't seem to get it working so I'm hardcoding it for the time being...

Here's what I'm working with

Provider
[code]

Module
[code]

And the top-level app:
[code]

[2019-09-10 13:24] ardatan commented on #421
You can use module configuration instead of passing `env` like that;

[code]

[code]
.forRoot modifies that module globally, .forChild creates a new instance from that module.
[code]

[2019-09-10 18:58] jacob-lester opened #673 "Apollo Federation Example"
In the example federation project, I am getting an error when running this query through the gateway (i.e. `localhost:4000`) *(Note: This query does in fact work in the official [apollographql/federation-demo](https://github.com/apollographql/federation-demo) example)*

It's having an issue resolving the extended field `inStock` from the `inventory` service, although querying the inventory service

[2019-09-12 03:48] ardatan commented on #673
Fixed the example; each server definition must have the following `context` declaration;
[code]

[2019-09-12 03:52] ardatan commented on #669
Fixed in 0.7.12 :)

[2019-09-12 18:38] zicodeng opened #676 "Import providers from other modules error: imported provider is undefined"
In my blog module

[code]

In my blog provider

[code]

In my `blog` module, I didn't import `kudos` module, I just imported `KudosProvider`, is this might be the reason why it is undefined?

Thanks in advance!

[2019-09-13 05:07] ghost opened #679 "input(s) are not merged across GraphqlModule(s)"
Hello
I'm trying to build a modular graphql server using graphql-modules but there's a problem extending inputs. Unlike types, inputs from multiple modules are not being concretely merged.

Simple example here:

in UserModule:
[code]

in ProfileModule:
[code]

Schema shown in Playground
[code]

Note: Trying to use "extend input UserCreateInput" will throw error "Error: Cannot extend type "UserCrea

[2019-09-13 05:57] #679 closed, assigned to nobody

[2019-09-15 16:28] prishub opened #682 "apollo-modules example compilation fails"
apollo-modules example compilation fails

cloned from master branch, also tried last tagged version.

compilation output:

[code]

[2019-09-15 19:38] maapteh commented on #669
nope
[code]

graphql-tookit 0.5.13 inside graphql-modules 0.7.12

[2019-09-15 20:46] ardatan commented on #682
@prishub We forgot to change graphql-modules version in that example, could you please update it to the latest version and try again?
`0.7.12`

[2019-09-15 20:46] #682 closed

[2019-09-16 07:59] Urigo commented on #669
@maapteh why did you reopened the issue?

[2019-09-16 09:29] maapteh commented on #669
Ah sorry, i have too many right overhere i think :)

I reopened because the issue still ocurs, less faults but still 2:

1. `git clone https://github.com/maapteh/graphql-modules-app.git`
2. `yarn`
3. `yarn workspace graphql-server buildFIXME`

[2019-09-16 17:59] zicodeng commented on #676
[code]

[2019-09-16 18:50] maapteh commented on #673
@jacob-lester did you try `context: session => ({ session }),`?

[2019-09-16 19:49] jacob-lester commented on #673
Just tried it. Still same error

[2019-09-16 20:21] ardatan commented on #676
I am sorry I cannot see where ‘sayHello’ is called etc. Maybe you can share a reproduction repo.

[2019-09-16 21:03] Urigo commented on #669
thanks for the context!

[2019-09-16 23:00] zicodeng commented on #676
The issue is not really `sayHello`, which is just a method on the Provider. The problem is that `this.xxxProvider` is undefined

[2019-09-17 01:04] ardatan commented on #676
Ok. So are you using official TypeScript compiler/tsc or babel-typescript? If yes, you should use `@Inject` decorator like below;
[code]
Or are you sure you imported `reflect-metadata`?

[2019-09-17 06:44] ardatan commented on #673
@jacob-lester I updated the example and fixed the context issue so could you try with the following version?
`0.7.13-alpha-2a968e3.9+2a968e3`

[2019-09-17 06:51] ardatan commented on #669
@maapteh I reproduced the same error with the old TS version in server's package.json `3.2.1` and when  I updated it to `3.6.3`, it built successfully.
I think it happens because we use a new syntax or something in graphql-toolkit.

[2019-09-17 08:13] maapteh commented on #669
Thanks for this update @ardatan i will update. I know TS is optional in modules, but maybe it should become clear you at least need version x?

[2019-09-17 08:48] ardatan commented on #669
Yes, we will update documentation about TypeScript version compability.

[2019-09-17 11:47] jacob-lester commented on #673
That appeared to work! Thanks for your quick response!

[2019-09-17 15:13] ardatan commented on #682
@prishub You can create a PR for that :) also with more changes you would like to see in that example

[2019-09-17 18:19] prishub commented on #682
@ardatan is handling PR really less work for you than copy/pasting one line of code?

[2019-09-18 14:54] travigd opened #688 "Fix message in ProvideAlreadyDefined error"
https://github.com/Urigo/graphql-modules/blob/276388cc2e6674011bfc0271edde4dc4e717c90a/packages/di/src/errors/provider-already-defined.ts#L10

`override` should be `overwrite`

[2019-09-18 21:47] travigd opened #689 "Cannot Mock Dependency of Dependency"
I'm not sure if there's a different/recommended way to do this, but, I'm unable to mock the dependencies of my dependencies.

Let's say we have providers `A -> B -> C` where `->` means "depends on" (_i.e._ `A` injects `B` into itself and `B` injects `C` into itself). All three are in different modules.

For my test setup, I want to mock `A` and `C`, but not `B` (for my use case, `A` and `C` depend

[2019-09-19 01:24] travigd commented on #689
I actually can't even use the workaround I described above wherein you just `injector.provide` everything - it results in application-scope providers being constructed for every session (I can't quite figure out why).

[2019-09-19 15:35] travigd commented on #689
Looking into this a bit more (I was frustrated by how long it took me to debug these issues yesterday :')), one possible workaround is just to inject the mock provider using the provider-to-be-mocked's module's injector.

i.e.
[code]

The only issue with this is that it's not limited to the test case where I do it. I thought I'd be able to get around it by doing `modA = ModuleA.forChild({})` but i

[2019-09-19 15:45] jacob-lester commented on #673
Ok one more thing @ardatan When I try to implement federation in my own project, the `context.injector` is undefined when `__resolveReference` is called:

[code]
Here is what the `context` object looks like:

[code]

However, when I just used a dummy array of users I searched in (instead of using injector/ person provider), I was able to get it working correctly:

[code]

[2019-09-19 15:49] jacob-lester commented on #673
The `context` object should look like this I believe:

[code]

[2019-09-19 18:15] zicodeng commented on #676
@ardatan `@Inject(KudosProvider)` worked!!! Thanks a lot

[2019-09-19 18:15] #676 closed

[2019-09-19 19:10] ardatan commented on #673
@jacob-lester https://www.apollographql.com/docs/apollo-server/api/apollo-federation/
As you can see in Apollo docs, `__resolveReference` doesn't have `args` so its signature like below;
`__resolveReference(root, context, info)` not `__resolveReference(root, args, context, info`

[2019-09-22 13:26] fenos opened #694 "Custom context property over subscriptions"
Hi there, firstly, thanks a lot for this AWESOME library, really enjoying it so far.
Everything was going too smooth until I've started working on subscriptions.

#### Problem
I'm struggling on having a consistent `authToken` property within the graphql context for regular `Mutation/Queries` and `Subscription`.

#### Let me show you some code

I have my `AuthModule` which nicely inject the `authTo

[2019-09-22 15:31] fenos commented on #694
I'm still investigating but so far seems that the issue is caused by functions calls in the wrong order.

The `context` function is called before any other subscription `hook` thus making it impossible to add properties to the context

[2019-09-22 16:43] fenos commented on #694
After a few hours of debugging the only conclusion I came up with was to include the `connectionParams` within the function call `context` when the `onConnect` hook is invoked.

In that way, we can access the subscription parameters and read the `authorization` token

Super Simple PR above 👆

[2019-09-23 10:01] fenos commented on #694
Here is an example that reproduce the issue:

https://codesandbox.io/embed/typescript-node-c4gkl

[2019-09-25 18:19] guibernardino opened #700 "Extend type with field-level data resolution."
My app fetches data at field level.

Example:

## Module Event

Schema:

[code]

Resolver:

[code]
##

I am trying to get the user's resolver to receive the userId that needs to be resolved in the event module.

## Module User

Schema:
[code]

Resolver:
[code]

Response
[code]

[2019-09-25 18:33] cs-miller opened #701 "Critical dependency: the request of a dependency is an expression"
This is probably a problem with my web pack setup, but I thought I'd check here.

I have a project that exports a GraphQL Schema, which is built using tsc.
This project is then consumed by a project that is built using webpack.

When I import GraphQLModule, my webpack starts throwing this warning, and producing a build that no longer works.

[code]

Its a bit confusing, given that I am not using G

[2019-09-25 23:10] ardatan commented on #700
Parent object doesn't contain resolved fields, this is how GraphQL works normally(without GraphQL Modules, it would run in exactly same way). I think you should change your approach like below;
[code]
and
[code]

[2019-09-25 23:10] #700 closed

[2019-09-26 05:34] ardatan commented on #689
@travigd So in your case `clearCache` might work. Could you try that?

[2019-09-26 05:48] ardatan commented on #669
Updated!

[2019-09-26 05:48] #669 closed

[2019-09-26 05:49] ardatan commented on #694
@fenos Thank you for opening this issue! I added a new option property called `subscriptionHooks` for the people who don't use DI for subscription hooks;
Canary version;`0.7.13-alpha-2deabb5.19+2deabb5`
[code]

[2019-09-26 07:35] kamilkisiela commented on #669
@ardatan what was the cause? Usually what's incompatible are built-in helper types  like `Exclude`, `Extract` and so on but also `readonly string[]` and this kind of things. We can achieve better compatibility by replacing those with for example `ReadonlyArray<string>`.

[2019-09-26 08:50] ardatan commented on #669
@kamilkisiela Then, I'll create a PR to change `readonly string[]` to `ReadonlyArray<string>`.

[2019-09-26 18:09] #701 closed

[2019-09-29 20:01] KROSF opened #704 "How to integrate mongoose with the modules."
Hi, I started to use this amazing project but i ran into a problem.
I can't find the best way to integrate mongoose with the modules.
Can you help me.
Thanks.

[2019-09-30 06:53] Urigo commented on #704
Hi @KROSF and thank you for the question!

It would actually be cool to have an example with Mongoose.
Could you maybe create one, even with the current errors you experience and share it here?

Then when we solve it everyone will enjoy a new working example of that integration

Thank you!

[2019-09-30 12:36] fenos commented on #694
@ardatan absolutely appreciated!
That's a neat way of handling this!

[2019-09-30 14:04] KROSF commented on #704
Hi @Urigo thanks for your response.

The first idea i have was to create an model inside of each module

[code]

And add the model as part of the context

[code]

but I think this is not the optimal solution when referring to other models.

[2019-09-30 14:48] jamesalanfinnigan opened #706 "Multiple Dependency Issue Workaround..."
For others running into undefined providers...we also ran into injection issues and came up with this solution after trying many other workarounds.

// index.ts
[code]
// app.ts
[code]

[2019-09-30 15:35] Aeonrush commented on #217
Hi @orefalo
I found this workaround
[code]

Best regards

[2019-10-01 06:17] ardatan commented on #694
Available in 0.5.13!

[2019-10-01 06:17] #694 closed

[2019-10-01 06:17] ardatan commented on #688
Available in 0.5.13!

[2019-10-01 06:17] #688 closed

[2019-10-01 06:18] ardatan commented on #673
Available in 0.5.13!

[2019-10-01 06:18] #673 closed

[2019-10-02 20:54] KROSF commented on #317
@ardatan your solution for circular deps is amazing.
how can i do the same with typegraphql?

[2019-10-03 15:29] Floydjd opened #710 "Enumerations are not accepting there defined values as inputs"
[code]

I get an error when running the `getColor` query, even though `"red"` should be a valid value for the `Color` enumeration type. I'm not sure if this is a GraphQLModules problem but it only started happening when I tried to use GraphQLModules.

The error is
[code]

[2019-10-04 08:55] elincognito commented on #700
Hi,
I run onto the same issue and the proposed solution won't work for me at least ideally:

For simplicity lets assume i have the following schema
I am also using codegen for generating types
[code]

[code]

now here comes the issue
let's assume that to get the relatedField i need the userId

[code]

In the above example I can see too solutions:
change the *Event* schema to include the userId sch

[2019-10-04 12:52] ardatan commented on #700
You're asking something that GraphQL doesn't have so the thing you asked is not an issue of neither GraphQL Modules nor GraphQL itself. GraphQL Modules doesn't have that kind of feature.

Let me give an example;
When you query something like that;
[code]
First, GraphQL Server calls `Query.events: (root, { userId }) => getUserEvents(userId)` function with `{}, { userId: 2,}` and for relatedField `E

[2019-10-04 15:22] elincognito commented on #700
@ardatan  Thank you for taking the time to explain in more detail the mistakes on my assumptions.
I fixed my issue with codegen `mappers`

[2019-10-04 18:09] ardatan commented on #706
I think you use it wrong. So you have to put your resolvers inside `resolvers` of `buildSchemaSync`. So if you still have issues please share a reproduction repo.
[code]

[2019-10-04 18:14] ardatan commented on #704
You don't need to use `context` to inject models. You can directly import it inside providers in my opinion.

[2019-10-04 18:14] #704 closed

[2019-10-04 18:15] ardatan commented on #575
I'm closing it for now so feel free to open new issue if the problem persists.

[2019-10-04 18:15] #575 closed

[2019-10-04 18:19] ardatan commented on #710
As I see, you have resolvers for `Color` enum inside `typeDefs`. So, that's why it is ignored. So if you want  to import it as an external schema, you can use `extraSchemas` field or move enum resolvers to `resolvers`;
1st option;
[code]
2nd option;
[code]
3rd option(recommended);
[code]

4th option;
[code]

[2019-10-05 20:52] travigd commented on #689
Unless I'm misunderstanding, `clearCache` would work to clear the injector cache between test cases in the same file (kind of - I'd still have to clear the cache of each module individually that contains a provider that I mocked) which doesn't really solve the root issue of wanting to mock providers from other modules.

[2019-10-06 19:24] ardatan commented on #706
I'm closing this issue, feel free to open a new issue if the problem persists.

[2019-10-06 19:24] #706 closed

[2019-10-06 23:05] ardatan commented on #710
Closing this issue for now. If it persists, feel free to open a new one with a reproduction repo.

[2019-10-06 23:05] #710 closed

[2019-10-07 11:46] KROSF commented on #704
Thanks @ardatan.

[2019-10-10 11:06] Simon12121 opened #717 "MongoDB with generic-pool"
Hello,

All tools provided by you (i.e. authentication) worked really good. However I am struggling to implement the database connection pooling in combination with MongoDB. I'm using the code from https://graphql-modules.com/docs/recipes/db-connection-pooling.
Instead of returning a connection, there occors an infinite loop in the acquire function from 'generic-pool'. I have searched also in the

[2019-10-13 23:44] robbertkl opened #720 "Shared/global context, scalars, schema directives"
Hi, I'm still fairly new to graphql-modules and there's still 1 thing bugging me: before graphql-modules, I was used to setting my ApolloServer `context` with some shared objects (request auth info, db connection pool, etc), but with modules context seems to work a bit different.

First of all, the context I set in ApolloServer does not end up as context in the modules' resolvers. Instead, the onl

[2019-10-14 17:25] ardatan commented on #717
@Simon12121 Could you share a repo?

[2019-10-14 22:17] Simon12121 commented on #717
Sorry for claiming that the code does not work. While building the repo i found out that i forgot to add a return in a then block. So now everything works fine.
I am just not sure about one thing: I found a lot of examples (like this: http://mongodb.github.io/node-mongodb-native/driver-articles/mongoclient.html#mongoclient-connection-pooling), where also only one connect call was executed, but in

[2019-10-15 00:27] ardatan commented on #717
I don't think it matters since MongoDB handles queries async internally :)

[2019-10-15 00:27] #717 closed

[2019-10-15 21:07] russell-dot-js opened #725 ""Decorator" modules resolvers ignored on properties they do not define"
Hi all,

First off, I'm loving graphql-modules! Been in production with it for almost a year.

However, I recently updated a project (quite a few version numbers) from 0.4.2 to 0.7.13

This update caused some of our code (using what I'm calling "Decorator modules") to break.

I will try to simplify how to reproduce, please let me know if you have a better way of reporting issues.

**Module A**
[co

[2019-10-15 21:17] russell-dot-js commented on #725
I've confirmed that version 0.6.5 works, 0.7.0 does not work, 0.6.6 untestable as it has some other error related to values added to context

[2019-10-15 21:19] russell-dot-js commented on #725
I haven't pinpointed the exact cause, but am taking an educated guess that the behavior changed with: https://github.com/Urigo/graphql-modules/pull/375/files

[2019-10-16 01:30] ardatan commented on #725
@russell-dot-js You're right, the behavior should be exactly how you wrote. I will add a reproduction test first then try to fix it.

[2019-10-16 01:38] ardatan commented on #725
I tried to reproduce it but it succeeds
https://github.com/Urigo/graphql-modules/pull/726/files
Let me know if I miss something.

[2019-10-16 10:38] johnrix commented on #720
Experiencing precisely the same issues today also.

[2019-10-16 16:15] johnrix commented on #720
@robbertkl, a workaround for the issue of shared context data that I found is to include a `global` (or otherwise named) object in the result of the context function provided when creating your ApolloServer instance. This will be visible (and can be manipulated) on the `session` object supplied to the context function for each GraphQLModule instance, and also within dataSources or wherever else co

[2019-10-16 18:35] russell-dot-js commented on #725
Awesome, thank you so much for checking this out so quickly. I will fork and get you a repo

[2019-10-16 18:46] russell-dot-js commented on #725
I was able to repro by adding FooModule as a dependency to the root module:
https://github.com/Urigo/graphql-modules/pull/728

[2019-10-18 07:53] deresegetachew opened #729 "Javascript examples for Dependency Injection"
Hello;

I was wondering if you have plans to implement the documentation using just JS  and not TS

[2019-10-19 15:02] robbertkl commented on #720
@johnrix Yeah, that's sort of what I'm doing already. I have a few workarounds mentioned in the issue (like doing `context: context => context` or import a separate context module), but it's not ideal.

[2019-10-19 22:17] johnrix commented on #720
I did indeed use your `context: context => context` trick also!

[2019-10-23 19:24] valentinpalkovic opened #738 "Typing issue with at least two nexus projects"
If a user wants to use at least two nexus modules within the same project, the types are generated properly, but not usable at once (see: https://github.com/ardatan/NexusGraphQLModules/issues/2 and https://github.com/prisma-labs/nexus/issues/269). The generated types of one module will overwrite the generated types of the other module.

The example project https://github.com/ardatan/NexusGraphQLMo

[2019-10-25 07:11] silas-joekel opened #741 "resolversComposition error with extrasSchema"
I have a module for authentication which exports AuthModule and isAuthenticated, which is just a function to use in resolversComposition.

Everything works as intended in modules which import AuthModule and the function, but in the AuthModule itself the functions i put in resolversComposition don't get called.

I guess this is because I use extrasSchema with TypeGraphQL and the schema is not loade

[2019-10-30 09:28] waldemarnt opened #744 "ModuleSessionInfo not available on schema directives"
Hey! I've been trying to use `ModuleSessionInfo` inside a provider that is being injected via `injector` inside a `schemaDirective` but I get the error `Provider #ModuleSessionInfo not provided in #Module` which means that ModuleSessionInfo wasn't built yet.
Is it expected?

Codesandbox example: https://codesandbox.io/s/thirsty-lake-zmc4p

Looks like the context is built after the directive resolv

[2019-10-30 18:16] artakvg opened #745 "Duplicate instantiation of providers when provided via tokens"
I am trying to use my implementation for a provider with a token

[code]

But when we are using a provider with token some issues arise
-  at first it requires the AdminDBInitProvider to be provided in the module providers list.
Simply said the one that is used for  _useClass_ to be provided in the _providers_ array also.
- And by doing that it'll instantiate it twice.

[code]

[2019-10-30 22:36] ardatan commented on #745
@artakvg In the first one, when you inject `DBProviderToken` like below;
[code]
but in the second one there are two different providers for DI;
`AdminDBInitProvider` class which uses the class itself as provider token and the other one I explained above. So the second one is not what you want as I understand.

[code]
While doing the first one, is there any error or something? If no, how do you try

[2019-10-30 22:54] artakvg commented on #745
create a simple module and put a class provider with token under providers
will throw en error I think. So tokens are not working with class providers.

On Thu, Oct 31, 2019, 02:36 Arda TANRIKULU <notifications@github.com> wrote:

[2019-10-31 12:12] artakvg commented on #745
@ardatan here is a full example.

This is just a simple example following the documentation.

[code]

But without providing **BProvider** in provider list it'll log those
[code]
and then errored

[code]

If I add the BProvider in the providers Array than it'll log this
[code]

So in this case it'll create 2 instances and call onInit for them.

The expected behavior as per documentation is that we

[2019-10-31 14:38] rahul22048 opened #747 "Isolation of modules"
We have an application in which we have many different modules. Now suppose there is some buggy code inside some module provider, now considering the fact that node is single threaded and everything runs in event loop , all subsequent requests will be blocked. So ideally all modules should have some sort of isolation, where a bug in one module is not affecting other modules.  This can be achieved

[2019-10-31 19:10] artakvg commented on #747
@rahul22048  you have many Providers and modules maybe you'll have an idea for a workaround for this? https://github.com/Urigo/graphql-modules/issues/745

I am sure Graphql modules is not providing such tooling now. But this is something that your CI/CD should be responsible for.

[2019-11-02 05:44] rahul22048 commented on #747
Can this be taken as a feature request? When I am doing injector.get(Provider) I should have some sort of option over here to tell whether I want to run the code in the provider in a separate thread or process. Simply because most likely it will be making a downstream API call, I don't want some buggy code in other repo to affect my repo

[2019-11-03 04:08] rahul22048 opened #754 "Injector class not serializable"
I was trying to serialize injector class in my resolver in order to execute it in a separate process or a thread. But in trying to do so i got the following error:

[code]

This usually happens when there is a circular dependency inside the class. Can this be fixed?

[2019-11-03 13:16] fenos commented on #747
@rahul22048 It doesn't make sense to have that functionality built in **graphql-modules**.
What you are after is **GraphQL federation**.

Create an independent graphql server running on a different port / process for the modules that you want total isolation. Then use federation to unify the schemas.

Now you have total isolation of your modules.

[2019-11-04 02:51] rahul22048 commented on #747
Ok. Thanks for the response. You can close the ticket at your end.

[2019-11-04 16:45] artakvg commented on #745
Any updates on this @ardatan  ?

[2019-11-05 05:42] ardatan commented on #754
@rahul22048 `Injector` has its own methods inside prototype so it is not possible to execute those methods in another process.

[2019-11-05 05:43] ardatan commented on #747
GraphQL Federation uses different GraphQL backend servers through the network connection, so you can achieve what you want in this way; because each module in GraphQL Modules has its own encapsulated valid schema.

[2019-11-05 05:43] #747 closed

[2019-11-05 05:44] ardatan commented on #744
Could you share a reproduction on codesandbox by any chance?

[2019-11-05 05:45] ardatan commented on #741
Could you share a reproduction repo?

[2019-11-05 05:45] ardatan commented on #738
Are those typings of different modules generated in different folders?

[2019-11-05 05:46] ardatan commented on #729
Hi @deresegetachew
Did you try to setup an environment like that?
https://graphql-modules.com/docs/recipes/development-environment#javascript-usage

[2019-11-05 10:02] waldemarnt commented on #744
@ardatan here we go :D https://zmc4p.csb.app/ let me know if you need anything else

[2019-11-05 10:39] rahul22048 commented on #754
There are many open source libraries which serialize objects who have functions attached to their prototypes. I have also tested them with classes having functions. They fail in case the instance you are trying to serialize has some sort of cyclic dependency.

[2019-11-05 17:14] ardatan commented on #754
Could you give me a working example how to use the functioms inside serialized object so we can implement this in GraphQL Modules? Also PRs are welcome :)

[2019-11-05 21:28] tomdev10 opened #764 "Elastic Search"
Hi there. I'm trying to  implement a connection an elastic search module,  utilising https://github.com/graphql-compose/graphql-compose-elasticsearch as a starting point...but I'm struggling to think of where to start.  Does any one have any experience with this? Thanks :D

[2019-11-06 03:29] rahul22048 commented on #754
inside my resolver:-

userBehance: async (root, args, {injector}) => {
  let obj = serialize(injector);// error coming in this line only. Error text is same as above.
// after this i spin up a new thread and pass serialized obj inside it. Following code runs inside a //separate thread.
}
  let deserializedObj = deserialize(obj);
  let provider = deserializedObj.get(TestProvider);
// then i can pro

[2019-11-06 03:30] rahul22048 commented on #754
On a side note i also tried with context obj, there also i got the same error.

[2019-11-06 03:35] ardatan commented on #754
Right now, we don't support something like this. And I don't think it is possible to call a function in another process using JSON's parse and stringify. If you have a working example without GraphQL Modules, please share so maybe we can find a way to make it run with GraphQL Modules.

[2019-11-06 03:50] rahul22048 commented on #754
Yes you are correct it is not possible to do it with JSON parse and stringify. The serialize function i have used above is of some open source library which works fine for ES 6 classes with functions inside class body and are without cyclic dependency. You can check it in your injector class may be something to do with the order of imports or may be external dependencies are having some form of cy

[2019-11-06 03:52] ardatan commented on #754
@rahul22048 Could you share it?

[2019-11-06 09:19] tomdev10 commented on #311
Can I reopen this and ask how this was achieved?

[2019-11-07 12:11] rahul22048 commented on #754
I can't share my actual production code, but i can share with you the library that i used. PFB the github link for their repo:- https://github.com/yahoo/serialize-javascript.

This works for normal ES 6 classes.

Also note that i also tried with few other libraries as well, but all were giving error.

[2019-11-11 03:33] kbdavis07 opened #773 "Example not working from Doc: Load Your Schema and Resolvers"
![image](https://user-images.githubusercontent.com/5434970/68558832-c041ab00-0408-11ea-81b1-9e7dfe24c89d.png)

I am following along with this example and TypeDefs keeps giving error

![image](https://user-images.githubusercontent.com/5434970/68558900-0565dd00-0409-11ea-97cd-f932c28dd46b.png)

Is there a working example some where that shows how to load multiple files for Types and Revolvers for a

[2019-11-11 12:17] rahul22048 commented on #754
@ardatan  do you have any update on the issue?

[2019-11-11 12:46] ardatan commented on #754
I checked that library. I don't think it is possible to use that library with our Injector because we have WeakMaps, references to the network object, class references and other stuff in `Injector` class. And I am not sure if this library supports prototypes and other stuff. I recommend you to use `cluster` feature of NodeJS instead to have multi-processes which look more relevant solution for you

[2019-11-11 12:48] ardatan commented on #773
@kbdavis07 Do you use TypeScript? If yes, you should copy your graphql files into `dist/` folder. If no, could you share a reproduction repo?

[2019-11-13 05:59] rahul22048 commented on #754
Clustering spins up an entire application on a separate process, whereas i want isolation at the module level.I want to spin a separate process for a module not for an entire application. Secondly i understand your class has some external dependencies, but what is causing the circular dependency error?  Can you find where is circular dependency inside that injector class?

[2019-11-14 05:54] ardatan commented on #311
I don't know

[2019-11-14 05:54] ardatan commented on #311
I don't know much about `graphql-compose`. So does it expose a schema or mutate the existing schema?

[2019-11-14 05:55] ardatan commented on #764
Let's continue on this issue :)
https://github.com/Urigo/graphql-modules/issues/311

[2019-11-14 05:55] #764 closed

[2019-11-18 19:42] valentinpalkovic commented on #738
Yes. the typings are generated in separate folders.

[2019-11-21 06:58] IsenrichO commented on #720
I think this is something that would help improve the "quality of life" for many users of this already great library? Support for shared/global contexts would be excellent. Is this something being worked on and/or would contributions for the feature be welcome?

[2019-11-21 08:31] zicodeng opened #804 "Field level permission"
With resolvers composition, we can easily do query level permission, but how do you add field level permission

For example:

[code]

Doesn't seem to work 🤔

[2019-11-23 08:30] c0ldra1n commented on #720
This is a very intuitive and needed feature. Injectors are fine, but this would make data transfer/transform much easier.

[2019-11-24 03:45] rickyhopkins opened #811 "graphql-codegen recipe does not work"
I have been trying to get a base app up and running using apollo server and graphql-modules.

I have gone through the [development environment setup steps](https://graphql-modules.com/docs/recipes/development-environment) using the ts-node method. This all works fine and I create a super simple Module from the examples:

[code]

But when I try to follow the [graphql-codegen steps](https://graphql-

[2019-11-24 07:42] kbdavis07 commented on #773
@ardatan I managed to get the code from Examples https://github.com/Urigo/graphql-modules/tree/master/examples/apollo-modules

Working the way I wanted to have modules.

Thanks for your help 👍

[2019-11-28 02:47] IsenrichO commented on #811
I can confirm that I'm seeing the same issue.

[2019-11-30 09:28] zenVentzi opened #817 "Nest.js vs graphql-modules for new project. Or both?"
I have experience with Express, Apollo server and related technologies separately, but have never used graphql-modules or nest.js. Do these two combine? If they don't, how can one decide which one to use?

[2019-12-15 09:08] fridaystreet commented on #704
Also been working on a nice way to solve this problem while trying to ensure there is a decent level of abstraction from the db layer to the app. After a lot of trial and error, finally landed on the datasource approach shown in the graphql-modules doco coupled with some dependency injection to present the models to the app.

Basic premise is to have a very specific mongo module that loads the mod

[2019-12-30 11:05] LucienLee opened #850 "How to use logger in the module?"
Instead of providing official logger plugin, graphql-modules give logger interface now.
I see that we could pass logger functions when initiating module. But I have no idea how to call logger in my resolvers or providers.

https://github.com/Urigo/graphql-modules/blob/eecfc5208f00387b2d6595da98b1510bc137be2b/packages/core/src/graphql-module.ts#L28-L33

Could you give some hints about what's the be

[2019-12-30 16:49] ardatan commented on #850
Hi @LucienLee

You have two options;

First you can use DI;
Currently `Logger` is not part of DI but you can make it part of DI like below. Let's say you have `Logger` class.
`logger.provider.ts`
[code]
`logger.module.ts`
[code]
`example.resolver.ts`
[code]

Second you can access module's `selfLogger` attribute to get `logger` of that module;
[code]

[2020-01-02 10:04] LucienLee commented on #850
The signature of `InjectFunction` is changed. The correct version is that:

[code]

[2020-01-02 13:35] ardatan commented on #850
Sorry my bad. I forgot to add `LoggerProvider` at the beginning :)

[2020-01-03 11:20] LucienLee commented on #850
Yeah, but I have a proposal on `Logger` and `LogMethod ` interface. Should I open a new issue, or just discuss it here?

[2020-01-06 00:08] fuchsm commented on #720
Hi,

I was also running into the very same kind of problem, took me a while to figure out that context doesn't work the usual way here.

@johnrix,

I was also trying to do this:

[code]

But then how to access the global vars within the module? You said:

Unfortunately, I haven't found a way to access it from within the module, at least global.host does not show up as additional session data.

I h

[2020-01-06 06:59] LucienLee commented on #525
For the reference,  nestjs, one of the popular DI js frameworks, has async provider syntax. That's convenient. https://docs.nestjs.com/fundamentals/async-providers

[2020-01-06 07:20] ardatan commented on #850
@LucienLee It doesn't matter

[2020-01-07 07:44] LucienLee commented on #850
First, add more common optional methods.

[code]

Second, use overload instead of union type on `message` type, which could be useful when you certainly know what's the message type. For example, when you pass a pure string to the logger, you don't have to case it.  But keep `(message: string | Error): void;`, `logger.clienError` uses the `ILogger` type from `graphql-tool`.

Finally, add spread me

[2020-01-07 21:29] fuchsm opened #860 "How to make global context available within all modules?"
Hi,
I am using graphQL modules, fastify and apollo-fastify, trying to do something like this:

[code]
While customProperty is some arbitrary data that needs to be available inside the resolvers of all Modules and sub-modules that are imported in my appModule.

I have absolutely no clue how to achieve this, since it seems I can't access anything that isn't part of my session. It's not very clear to

[2020-01-08 22:38] CVANCGCG opened #863 "Mock context does not appear on context within Resolvers"
I can't access my mocked context object via the mock({ contextBuilder() => {} }). My error appears to be very similar to the same symptoms reported with [Issue #443](https://github.com/Urigo/graphql-modules/issues/443). Per that issue, I tried version 0.7.6 but didn't have expected outcome. Note that the query behaves correctly with real application users that are logged in but my automated tests

[2020-01-16 15:45] ArsenAvagyan commented on #694
Context is not beeing changed after returning something from onConnect hook. Do you have some working code example?

[2020-01-19 05:12] Cassianokunsch opened #890 "Dependency Injection with interface."
How use DI when my object is a interface?

this is my code and don't work =(

BrandService.ts
[code]
BrandRepositoryInterface.ts
[code]
BaseRepositoryInterface.ts
[code]

BrandRepository.ts
[code]

ProductModule.ts
[code]

[2020-01-19 05:50] #890 closed

[2020-01-21 12:41] Cassianokunsch commented on #243
![image](https://user-images.githubusercontent.com/9349768/72805467-b4a50880-3c31-11ea-92f9-1d1551a92650.png)

![image](https://user-images.githubusercontent.com/9349768/72805509-cdadb980-3c31-11ea-8b6b-a0b483580591.png)

![image](https://user-images.githubusercontent.com/9349768/72805525-dd2d0280-3c31-11ea-82c8-7d73fcf197ce.png)

![image](https://user-images.githubusercontent.com/9349768/72805537

[2020-01-21 17:29] devtim123 commented on #619
Hey, i also noticed this bug, and can not resolve it by using a standalone project wide graphql-modules schema. I don't know if the reason could be that i using typegraphql or apollo-server.

i wrote a simple GraphQL-Apollo-Server example demonstrate a bug when using unions in combination with graphql-modules + typegraphql + apollo-server. would like to know how to solve this problem or how to deb

[2020-01-26 15:17] fenos opened #906 "Allowing non-graphql specific modules"
Hello,

Apparently **graphql-modules** will not allow importing modules that don't specify a schema definition.

Let me give you an example:

[code]

Since the **LoggerModule** didn't specify a gql schema, **graphql-modules** fails with the following error:

[code]

Being able to create non-graphql specific modules will definitely help to maintain the module structure and create re-usable modules,

[2020-01-26 16:09] fenos commented on #906
Ok, this is definitely a regression and a bug. I've raised the PR above which fixes it

[2020-01-28 07:21] dalkegama opened #913 "Dependency injection not working for providers in the same module."
I'm having issues with DI. I have a module that has 2 providers. Both providers are declared in the `providers` array in `index.ts`.

**FooPovider** has a simple method that does a `console.log`, I've injected **FooPovider** into **BarPovider** `constructor(private fooPovider: FooPovider)` as shown in the [Docs](https://graphql-modules.com/docs/introduction/dependency-injection#import-providers-fr

[2020-01-28 07:32] ardatan commented on #913
Something might be wrong in your configuration and types are not reflected as metadata. Could you share a reproduction repo so we can help better?

[2020-01-28 10:57] #906 closed

[2020-01-29 08:12] dalkegama commented on #913
@ardatan ,here is the reproduction of my [qapi-test](https://github.com/dalkegama/qapi-test) repo. We were thinking, maybe being caused by the use of the `@graphql-toolkit`. Thank you.

[2020-02-04 08:12] LucienLee commented on #817
You should choose one of them, but not both.

It depends on what kind of style you like to write grapql.
NestJS use the [TypeGraphQL](https://github.com/MichalLytek/) style to write resolver, which uses metadata annotations to specify the type. It would write a class like:

[code]

Correspondingly, the pure resolver just an object with lots of resolve functions. just like

[code]
If you prefer tha

[2020-02-10 10:08] artecoop commented on #804
+1, I'm having the same problem

[2020-02-10 10:36] dotansimha commented on #804
@artecoop @zicodeng can you please share a reproduction?

[2020-02-10 10:51] artecoop commented on #804
Here's my implementation.

I started following this [link](https://medium.com/the-guild/authentication-and-authorization-in-graphql-and-how-graphql-modules-can-help-fadc1ee5b0c2), in particular the paragraph "The Future of Authentication with GraphQL-Modules and GraphQL @directives" and implemented this:

create a new module, i.e.: authModule
**index.ts**

[code]

it's useless for this example to

[2020-02-13 08:14] artecoop commented on #804
@dotansimha do you have any update on this? I'd love to go production with this feature!

[2020-02-13 11:21] dalkegama commented on #913
Any update on this ?

[2020-02-14 03:34] zicodeng commented on #804
I personally ended up using [graphql-shield](https://github.com/maticzav/graphql-shield). Worked out pretty well with this library!

[2020-02-15 09:41] fenos commented on #860
@fuchsm the whole purpose of GraphQL-Modules is to not have global access to graphql specifics.

Try to switch mindset and encapsulate things into modules, then import modules into others to access graphql specifics information such as context.

Refer to this part of the doc to create custom context: https://graphql-modules.com/docs/introduction/context#context-builders

[2020-02-19 14:08] artecoop commented on #804
@zicodeng sorry being so late. I'd rather pass on adding another layer to my app. It would be less and less maintainable over time. Thanks for the input, tho

[2020-02-26 11:59] MichalLytek commented on #817
@LucienLee you can use TypeGraphQL with GraphQL Modules 😉

https://graphql-modules.com/docs/recipes/type-graphql

[2020-02-26 12:54] #817 closed

[2020-02-27 02:10] jermsam opened #965 "How do I use JavaScript instead of TypeScript"
My intention is to go modular but the limitation I have is with the fact that defining a custom context seems to be rigidly tied to typescript. Is there a way I can approach this within .js type module files instead of .ts as explained in the docs?
Using:
graphql 14.6.0
@graphql-modules/core 0.7.14
apollo-server-express 2.10.1

[2020-02-28 01:52] fridaystreet commented on #720
Hi guys,

Thought I might share my findings hopefully may be of some help. In regards to the directives, It took me a while to figure this out too as I kept hitting a brick wall trying to use Apollo's schema directive implementation. Then I found this article on example to implementing authorisation in graphql-modules, which shone the light on how to implement schema directives through resolver co

[2020-02-29 21:10] walleXD commented on #243
@Cassianokunsch  were you able to solve it?

[2020-03-01 15:00] LucienLee commented on #850
@ardatan any schedule of releasing?

[2020-03-02 16:23] devtim123 opened #972 "Unions not working as aspected"
Hey, as i mentioned in the close ticket https://github.com/Urigo/graphql-modules/issues/619 i can not resolve union types by using a standalone project wide graphql-modules schema. I don't know if the reason could be that i using typegraphql or apollo-server.

i wrote a simple GraphQL-Apollo-Server example demonstrate a bug when using unions in combination with graphql-modules + typegraphql + apol

[2020-03-03 18:24] codecog opened #973 "help: extend type on schema"
I've created twp separate modules, let's call them Module A & Module B.

[code]

The above works fine if i run queries against the modules. When i try to then do the following:

[code]

I'm given:
[code]

The schema is valid and works fine without extending. Once i do though, the server can't run. Any ideas?

[2020-03-03 23:31] codecog commented on #973
Sorted this. `import: []` is a requirement on a module if you wish to extend the type of a schema.

[2020-03-03 23:31] #973 closed

[2020-03-06 06:37] fridaystreet opened #975 "pubsub communication between modules doesn't seem to work as per doco"
I'm trying to get some pubsub communication to happen between modules as per the doco here

https://graphql-modules.com/docs/recipes/communication-between-modules

The problem is that the provider that I want to receive the message and do something with the event is never called during the request, so it's constructor isn't called and so it never registers it's subscription.

The setup.
common mod

[2020-03-06 06:55] fridaystreet commented on #975
update: I thought maybe it was because Task module needed to import Notifications module rather than them effective being siblings, but I tried that too and still the notifications provider is never instantiated.

[2020-03-09 18:59] NemeSnz opened #980 "Is cli tooling planned to be developed?"
I think cli tooling would be helpful to get ahead of recurring boilerplate. Are there any plans to develop cli tooling for graphql modules in the near future?

[2020-03-11 06:49] LucienLee commented on #980
The author @Urigo has taken the maintenance of [graphql-cli](https://github.com/Urigo/graphql-cli). I think that you can propose that.

[2020-03-11 06:50] LucienLee commented on #850
@ardatan Sorry to bother you continually. Could you make a version bump and release it first?

[2020-03-11 06:51] ardatan commented on #850
@LucienLee You can use this canary version for now;
`0.7.15-alpha-15a59a4.120+15a59a4`

[2020-03-11 22:59] aylesm commented on #913
I have the same issue.

[2020-03-16 21:57] alanlom commented on #745
Duplicates are also created with direct injection (without a token).
Checked with Apollo server (`apollo-server": "^2.9.5`) and graphql-modules (`@graphql-modules/core": "^0.7.14"`)

**Code to reproduced**
[code]

**Output results**
For the first request, we have duplicates:
[code]
The first instance is created, and all events are processed by it. Second instance is created for `ModuleWithImport`.

[2020-03-18 18:44] gagoar opened #991 "Using injection to overwrite imported modules."
Thanks for building this amazing system. it makes GraphQL easy to maintain and evolve over time. ❤️

## Context:
We have several modules with their particular injectors and we wish to provide in the outermost module an override to all the imported modules. This is helpful for a couple of reasons.

- ***_Env awareness is isolated_***: the individual modules don't need to be aware of this provider o

[2020-03-19 14:49] leops opened #993 "Cannot declared custom resolver for extension field from type imported using extraSchema"
I'll try to provide a reproduction case by hand, not sure it that will actually work as my actual code is a lot more complicated but what I'm trying to do is essentially this:

[code]

When introspecting the schema, I can see that `customField` is correctly registered on `ParentType`. But when I try to query it, the custom resolver function is never called and I get a `Cannot return null for non-n

[2020-03-26 08:44] leops commented on #993
While I was trying to narrow down the issue and / or work around it, it suddenly disappeared (even after I reset my code to how it originally was). I guess despite it being reliably reproductible that was due to some stale build cache on my side or some other side effect.

[2020-03-26 08:44] #993 closed

[2020-03-26 20:32] gagoar opened #1015 "Allow wildcards as path for resolversComposition"
Thanks for building this amazing system. it makes GraphQL easy to maintain and evolve over time. ❤️

### Context
`resolversComposition` as explained [here](https://github.com/Urigo/graphql-modules/blob/ac5cbdf0a27509e5d1b600029f47871794971f28/docs/introduction/resolvers-composition.md) can take a query path and append logic before the resolver is invoked on run time.

We have leveraged `resolversC

[2020-03-26 20:55] ardatan commented on #1015
Resolvers Composition has already support for `*` wildcards for fields as you said. Let us know if it doesn't work properly.

[2020-03-27 17:12] gagoar commented on #1015
@ardatan  I will check and make sure what I'm proposing is already there, and update the documentation accordingly

[2020-03-29 10:14] mohamedGamalAbuGalala opened #1019 "GQL-modules injection problem with type-graphql if no params to the function"
**Describe the bug**
I work on a project with `GQL-modules` and `type-graphql` both works together like a charm but I'm having some problems when I create a query/mutation and the function doesn't need to take any input, as it gives me an error that the injected instance is undefined.

**Module code**
[code]

**Resolver code**
[code]
**Expected behavior**
When I call the hopeQuery it returns the "

[2020-03-29 10:14] mohamedGamalAbuGalala commented on #1019
MichalLytek/type-graphql#588

[2020-03-30 09:28] piyugupt opened #1025 "Duplicate Instantiation of Providers leading to n+1 problem"
Using ProviderScope.Session , I still see duplicate instances of Provider being created within the same GQL Query Request, which is leading to the n+1 problem in our use case. Code snippets below.

[code]

[code]

[code]

RestDataSource uses an in-memory memoizedResults Map to avoid multiple outgoing requests to the same API within the same GQL Query request, but since we have multiple Provider in

[2020-03-30 21:08] gagoar commented on #1015
closing this pr, in favor of https://github.com/Urigo/graphql-modules/pull/1027

[2020-03-30 21:08] #1015 closed

[2020-03-31 14:57] mohamedGamalAbuGalala commented on #1019
Closing this after digging more in this lead me that the error was in some package or some piece of code affecting `reflect-metadata` package which blows everything.
But for referencing the error was in some changes in one file, when I discarded them it goes away.

Maybe related to connecting error with `neode` (related to adam-cowley/neode#56
 or adam-cowley/neode#14)or another error.

god-only-k

[2020-03-31 14:57] #1019 closed

[2020-04-01 11:27] sassman opened #1032 "Context builders `session` parameter does not contain `req` and `res`"
given the installed versions of
[code]
and a plain vanilla `ApolloServer` usage without any express app or middleware the context builder first argument `session` does not contain `req` and `res` in a GQL Module.

let's pick that example from the [docs](https://graphql-modules.com/docs/introduction/context#context-builders) where the `AuthModule` should have access to the request object.

[code]

[2020-04-01 11:27] sassman commented on #1032
My workaround is to return the authorization header from the ApolloServers context builder, so that I can access it in the AuthModule like below. But that is far from being ideal:

[code]

[code]

[2020-04-01 11:30] ardatan commented on #1032
Could you try it like below?;
[code]

[2020-04-01 12:23] sassman commented on #1032
@ardatan

yes populating the whole session there like you suggested `context: session => session` works as expected.

I guess that important detail needs to go into the docs mentioned above.

Thanks for the help

[2020-04-01 12:34] sassman commented on #1032
actually I think the way how the `AppModule` should be used by the AplloServer was not ideal. Seems that below works good:

[code]

[2020-04-01 14:15] ardatan commented on #1032
GraphQL Modules internally calls context builder functions already if used. If you do `AppModule.context`, it would call all the context functions in every request even if they are not used. So `context: session => session` is correct usage.

[2020-04-01 14:15] #1032 closed

[2020-04-08 17:03] nscarlson opened #1055 "tsc build breaks with error TS2742"
Breaking in the build phase with the upgrade from `0.7.14` -> `0.7.15`.

[code]

`
modules.ts(9,7): error TS2742: The inferred type of 'modules' cannot be named without a reference to '@graphql-modules/core/node_modules/graphql-tools'. This is likely not portable. A type annotation is necessary.
`

tsc Version 3.8.3

[2020-04-08 17:16] nscarlson commented on #1055
This was resolved by typing `modules`:

[code]

[2020-04-08 17:16] #1055 closed

[2020-04-09 01:35] russell-dot-js commented on #725
Hi @ardatan, I just wanted to check in and see if there were any updates on this issue?

[2020-04-10 13:20] maapteh opened #1064 "inferred type"
After updating one patch higher i suddenly have inferred type:

[code]

I have same setup as https://github.com/Urigo/graphql-modules/blob/master/examples/basic/src/app/app.module.ts

I type them now as `GraphQLModule` but was just wondering. Because just compiling the examples will throw the error before releasing, maybe it helps?

[2020-04-10 13:31] #1064 closed

[2020-04-12 00:19] dandv opened #1066 "Support ES Modules"
I'm trying to use named imports from `.mjs` files now that modules are no longer experimental and running into [the same issue that `graphql-tools` had](https://github.com/apollographql/graphql-tools/issues/913):

**gm.mjs**
[code]
[code]

[2020-04-12 00:42] ardatan commented on #1066
Currently we don't have Node's ESM support in GraphQL Modules. But we are working on it together with all other libraries we maintain.

[2020-04-12 00:45] dandv commented on #352
@ardatan: This User/Auth situation was just *one* example.

The general case of many-to-many relationships is very common. Does graphql-modules support that or not?

Another example if that helps: `User`s are engaged in online `Videoconference`s. A `User` has signed up for a number of upcoming `Videoconference`s, and each `Videoconference` has a number of participants of type `User`. How should we

[2020-04-12 00:50] dandv commented on #182
Have [circular dependencies been dropped](https://github.com/Urigo/graphql-modules/issues/352#issue-417009053)?

[2020-04-12 00:51] ardatan commented on #352
@dandv This is not about GraphQL Modules but how you design your structure. You can model it feature-based then.
https://medium.com/the-guild/manage-circular-imports-hell-with-graphql-modules-4b1611dee781

***UserModule***
[code]

***Conference*** (imports UserModule)
[code]

[2020-04-12 00:51] ardatan commented on #182
Yes they have.
https://medium.com/the-guild/manage-circular-imports-hell-with-graphql-modules-4b1611dee781

[2020-04-14 06:58] fridaystreet commented on #619
I'm also seeing this issue still happening and I'm passing my top level module schema to apollo-server. Still the __resolverType function is never called.

Any further thoughts on this?

[2020-04-14 07:02] fridaystreet commented on #972
I'm also seeing this issue still happening and I'm passing my top level module schema to apollo-server. Still the __resolverType function is never called.

Any further thoughts on this?

[2020-04-14 17:47] dandv commented on #352
[code]

Good advice, thanks!

[2020-04-15 10:16] LucienLee opened #1071 "Support async factories in providers"
As @ardatan you mentioned at #145

I totally agree with you about that. But In my test, it can not work. How do you think about supporting this feature?

Related issue: #525

[2020-04-16 15:57] artecoop commented on #804
@dotansimha @ardatan any news on this issue?

[2020-04-18 08:38] dandv opened #1078 "Usage example for testing"
Not sure where to submit a PR for this, but wanted to share how I managed to fix this error:

In was migrating from vanilla GraphQL. In a unit test, I was calling

    await graphql(schema, query, null, null, variables);

Converting to graphql-modules, that became

    await graphql(MyModule.schema, query, null, null, variables);

The problem was that the 4th parameter, contextValue, has to be an

[2020-04-18 11:26] ardatan commented on #1078
In GraphQL-js, `contextValue` is not the same thing with `context` factory function of Apollo Server. As you can see in our tests, you need to send an empty object like below;
[code]

[2020-04-18 11:26] #1078 closed

[2020-04-19 17:47] Sytten commented on #297
Is there a way it could be integrated natively inside the modules. Maybe using the extensions that were added not long ago? @ardatan

[2020-04-22 01:40] dandv opened #1083 "Schema parsing errors don't provide any actionable information"
I had a typo in my schema (derived from the basic example) and the error message was useless (just a stack trace never pointing to my code). If the root of the issue isn't GraphQL Modules, can you help me file it with against the relevant package? (I've looked at graphql-js and there didn't seem to be an [issue for unhelpful schema parsing errors](https://github.com/graphql/graphql-js/issues?q=sch

[2020-04-22 02:02] dandv commented on #1078
How can I pass a value during tests (to mock an authenticated user, for example)? I tried putting it [inside the context object instead of `{}`](https://github.com/dandv/graphql-modules-context-test/blob/master/src/test.ts#L9), but it [doesn't appear to be passed to the resolver](https://github.com/dandv/graphql-modules-context-test/blob/master/src/app/user/user.module.ts#L21).

[Repro repo](https

[2020-04-22 07:13] ardatan commented on #1083
[code]
If you use `gql` tag, it will compile string to DocumentNode then send it to GraphQL Modules so there is nothing to do in that case.
For example,
`Foo( Bar ( SomeWrongValue ) )`
In that code, if `Bar` throws an error, `Foo` has nothing to do with it because `Bar` throws the error immediately after the application runs.

[2020-04-22 07:13] #1083 closed

[2020-04-22 08:54] fenos opened #1084 "Cut a release"
Hello, would be great if you could cut a NPM release with the dependencies updates since the `0.7.15` it still using `"graphql-tools": "5.0.0-alpha.2"`

[2020-04-22 18:07] Urigo commented on #1066
@dandv if you want to help push this forward quicker, the best place to start is making graphql.js compatible with it.
Here is a start: https://github.com/graphql/graphql-js/pull/2487

[2020-04-23 18:49] danielrearden opened #1086 "Add `visitSchemaDirectives` option"
In order to apply the schema directives added by each module, we have to manually call `SchemaDirectiveVisitor.visitSchemaDirectives` after getting the schema from the root module, as shown in #381 .

I get that it's important to do it this way to avoid applying the same directive more than once. However, it would be nice DX to at least have a `visitSchemaDirectives` option that could be passed to

[2020-04-25 07:01] bailycase99 commented on #975
I had this same issue, I'm using Apollo-Server. I have PubSub created in my entry point and passing it through context.
[code]

I used context again in the module to pass my pubsub through.

[code]

[2020-05-05 08:53] fenos commented on #1084
🙏

[2020-05-06 01:50] lewebsimple opened #1112 "Prisma 2 integration / examples"
Since Prisma 2 is now in its fourth beta release, it would be nice to follow up on #209 concerning prisma2 integration and maybe have some official examples.

There are many ways to approach this, because prisma is now a query builder and doesn't provide GraphQL schema building OOTB.

I see the following possibilities:
- Basic integration with @prisma/client provided in the context
- Code-first wi

[2020-05-07 19:18] lavigneer opened #1115 "Providers with onInit logic cannot have injected dependencies overwritten"
I'm running into an issue with overwriting dependencies of providers that use the onInit hook.

Say we have the following:

[code]

And we have a test where we want to overwrite the `ConnectionProvider` to `ServiceModule`'s by doing the following:

[code]

The problem here is that the `onInit` function of `ServiceProvider` gets called before we can call `mockModule.injector.provide` so it's using

[2020-05-09 02:58] lewebsimple commented on #993
I'm having a similar issue when trying to use `@nexus/schema` inside graphql-modules.

[2020-05-09 03:33] lewebsimple opened #1116 "@nexus/schema integration and Cannot return null for non-nullable field"
I'm getting `Cannot return null for non-nullable field` when trying to use `@nexus/schema` inside a module with `extraSchemas`.

Reproduction repo here: https://github.com/lewebsimple/test-graphql-modules

[2020-05-10 14:46] ardatan commented on #1084
`v0.7.16`Released!

[2020-05-10 14:46] #1084 closed

[2020-05-11 09:16] AhmedElywa commented on #1112
@lewebsimple  I have a tool to auto generate types and crud system for graphql sdl first projects
is this tool can help here.
https://github.com/AhmedElywa/prisma-tools/tree/master/packages/sdl

I am not using graphql-modules and don't know how it's work but maybe it's help

if it's important and needed some changes to make it more helpful i can make it

[2020-05-11 09:45] AhmedElywa commented on #1112
Can you do example with one model how his file structure look like and i will generate tool to do this from schema.prisma

[2020-05-11 14:50] AhmedElywa commented on #1112
Maybe all i need to do to make my tool working perfect here is add

Index.ts file inside every model folder because i already added `typeDefs.graphql` and `resolvers.ts`

[code]

[2020-05-11 14:56] lewebsimple commented on #1112
@AhmedElywa you might have to tweak things to get the prisma client instance in the resolvers context as graphql-modules uses DI / injector.
I will have time to test this later this week.
Thanks for the awesome tools, can't wait to try them out !

[2020-05-11 15:03] AhmedElywa commented on #1112
ok let me how you add prisma to context and how i add resolvers middleware to add select function like this one

[code]

[2020-05-11 16:18] ardatan commented on #1112
@AhmedElywa If you use DI, you can use `onRequest` and `onResponse` hooks. If not, you can use resolversComposition.

[2020-05-14 15:08] #850 closed

[2020-05-14 15:08] ardatan commented on #1086
Available in 0.7.17!

[2020-05-14 15:08] #1086 closed

[2020-05-14 21:32] dandv commented on #1078
For others landing here, I've [added](https://github.com/Urigo/graphql-modules/pull/1132/files) an example to the [test your module](https://graphql-modules.com/docs/introduction/test-your-module) page.

[2020-05-15 01:26] AhmedElywa commented on #1112
@ardatan @lewebsimple Finally i do it.
It take very hard work because it's first time to deal with modules

Tool
https://github.com/AhmedElywa/prisma-tools/tree/master/packages/graphql-modules

Example
https://github.com/AhmedElywa/prisma-tools/tree/master/examples/graphql-modules

@ardatan you need to add this to your docs it's get me 3 hours search about this solution
https://medium.com/the-guil

[2020-05-15 01:27] AhmedElywa commented on #1112
@ardatan if you mentioned my tool inside your docs will be great thanks

[2020-05-15 01:42] lewebsimple commented on #1112
Awesome work @AhmedElywa !! I was just about to test out your tools when I noticed you just pushed the graphql-modules integration 👍

[2020-05-15 04:49] dandv opened #1137 "make resolverComposition act on implicit field resolvers"
Consider a `User` type where the `email` field comes straight from the User object. There's no need to define a trivial resolver for the `email` field.

Now consider that the email filed requires the request to have a certain role.

[code]

This won't enforce anything on the email field, unless I do write that trivial field resolver:

[code]

Semantically, the code above is clutter. Would it be po

[2020-05-16 13:00] wuichen commented on #811
im seeing the same issue as well

[2020-05-17 06:44] dandv opened #1140 "Troubleshooting section with circular dependency error"
I've run a few times into errors like, `TypeError: MyModule_1.myFunction is not a function`, when `myFunction` was clearly defined in the module. The cause was a circular dependency and the solution was to move the definition of myFunction into the same module as the one used in the function.

Since this is not an intuitive error, it should be mentioned in a Troubleshooting or FAQ section somewher

[2020-05-17 08:59] dotansimha commented on #811
@kamilkisiela is now working on a built-in integration of GraphQL Modules and GraphQL Codegen. You can find the progress here: https://github.com/dotansimha/graphql-code-generator/pull/3923

[2020-05-19 12:27] wuichen commented on #1116
i can confirm seeing the same error while using @nexus/schema

[2020-05-20 17:04] mohamedGamalAbuGalala commented on #975
I used [OnRequest hook](https://graphql-modules.com/docs/introduction/dependency-injection#onrequest-hook) to register my subscriber on the other provider and it works.

So we have 2 modules
* A (has AProvider)
* B (has BProvider)

- [ ] AProvider publish an event with some payload as the doc example

- [ ] BProvider implements OnRequest to initiate an instance on each request and have the subscri

[2020-05-27 02:00] fridaystreet commented on #975
@mohamedGamalAbuGalala  That is exactly what I'm looking for. I knew there would be somewhere that wasn't so hacky as context, just forgot about the onRequest hook. That's a perfect place to put it and keeps code nice and descriptive. nice solution, thanks!

[2020-05-27 02:00] #975 closed

[2020-05-27 08:02] mohamedGamalAbuGalala commented on #975
Consider trying [OnInit hook](https://graphql-modules.com/docs/introduction/dependency-injection#oninit-hook),
I didn't try it but I think it might work and maybe its best than OnRequest hook.
In my case, I'm working on a serverless graphql app so each function call(request) is considered a new app initialization so it doesn't make any difference between the 2 hooks.

[2020-05-27 10:17] 7HUND3RX opened #1159 "Doesn't import interfaces from another module"
Following is code example, I'm trying to implement:

Module A TypeDefs:
[code]

Module B TypeDefs:
[code]

module-b/index.ts:
[code]

Gives me following error:
[code]

[2020-05-30 07:21] yalamber commented on #188
Hello, I followed the documentation to import files from .graphql files, this works well in development but when building it seems to not build .graphql files and when I run npm start  there is this error:
Error: Cannot find module './schema.graphql'
[code]
My scripts
[code]

[2020-05-30 08:36] ardatan commented on #188
@yalamber Because your graphql files are still in the source file directory, you need to copy them to the output folder.

[2020-05-31 23:07] rebirthtobi opened #1169 "Getting 'Invalid value used as weak map key' when running test"
When running my test i get

[code]

But when I run the same query in the playground I get an empty array
[code]

Test
[code]

Resolver
[code]

Provider
[code]

User is a sequelize model communicating with a test database

[2020-05-31 23:20] ardatan commented on #1169
Could you add `contextValue` to your execution params and try again?
[code]

[2020-06-01 12:38] rebirthtobi commented on #1169
This works fines after, thanks

[2020-06-01 12:39] #1169 closed

[2020-06-02 10:44] rahul22048 opened #1172 "Integration with Koa Middleware?"
Does graphql modules integrate with koa middleware as well? Because in none of the examples i saw koa being used as a middleware. Also we were trying to migrate from express to koa, but we are facing issues in it, especially around context object.

[2020-06-02 11:04] ardatan commented on #1172
If you have a reproduction for your issues with Koa and GraphQL Modules, we can help you better. I think it should work properly.

[2020-06-02 11:15] rahul22048 commented on #1172
So, we have one module let's call it common module, which was included in every other module. The job of this module was to set credentials inside context object. It's initialisation went something like below:-
...
const commonModule = new GraphQLModule({
  typeDefs,
  resolvers,
  context: (session: { req?: Request }) => createContext(session.req)
});
...
Request is actually of type Express.Reque

[2020-06-02 11:16] rahul22048 commented on #1172
So actually the request object inside session is not getting correctly set, it is undefined. Whereas in case of express, request object was properly set inside session object.

[2020-06-02 11:31] ardatan commented on #1172
How do you create `ApolloServer` instance? And if you share a minimal reproduction, that would be better..

[2020-06-02 11:45] rahul22048 commented on #1172
const { schema, context } = appModules.forRoot({});
const server = new ApolloServer({
    schema,
    context,
    tracing: true,
    playground: config.enablePlayground
  });
  server.applyMiddleware({ app,path:'/graphql'});